[2018-02-08 08:30] ausi commented on #8850
Should probably changed to:

[code]

[2018-02-08 08:44] arboc commented on #8850
Or:
[code]

[2018-02-08 12:42] DVeris opened #8851 "1 contao 10 sites and BE_USER_LOGGED_IN on FE and $_SESSION['DISABLE_CACHE']"
login to site1.com

but in other site - BE_USER_LOGGED_IN = false

and $_SESSION['DISABLE_CACHE'] = false

for example (site1.com/contao/):
if add news for site site2.com -> news cached
you need to wait for the cache reset
OR login to site2.com/contao/

ps in my case contao BE is on admin.mysite.com

pps
sorry for my english
difficult to translate

[2018-02-08 12:51] aschempp commented on #8851
You have to login on the backend in site2.com <http://site2.com/> to work around this.

[2018-02-08 12:52] DVeris commented on #8851
it is not comfortable

[2018-02-08 12:53] DVeris commented on #8851
one login and work with all sites

[2018-02-08 13:09] aschempp commented on #8851
it is not possible 😉

[2018-02-08 13:11] DVeris commented on #8851
:sob:

[2018-02-08 13:21] DVeris commented on #8851
then the question:

how to drop cache only for one page?

for example
$GLOBALS['TL_DCA']['tl_news']['config']['onsubmit_callback'] = array('tl_news','dropcache');

[2018-02-08 13:58] aschempp commented on #8851
I don't think you can do that. The cache files names are "random", they are generated from the URL. So for the same URL with query parameters there will be multiple files. I think there was an extension for Contao 3.5 that tired to do that, but please refer to the forum for such questions.

[2018-02-08 20:39] Aybee opened #8852 "Eval findInSet will not sort by label"
In a field type `select` with
[code]
the options are not sorted by theire values. Neither by setting it to `true`.

[2018-02-12 13:09] leofeyer commented on #8848
See #8849.

[2018-02-12 13:09] #8848 closed, assigned to nobody

[2018-02-12 14:52] #8851 closed, assigned to nobody

[2018-02-12 14:53] leofeyer commented on #8852
How do I reproduce this? Which field did you test and where did you test it (BE or FE)?

[2018-02-12 14:54] #7585 closed

[2018-02-12 14:55] #8825 closed

[2018-02-12 15:06] Toflar commented on #8851
We might be able to do so in future Contao 4 versions. Maybe even 4.6, I've got some POC here but it's not really working in 3.5 out of the box.

[2018-02-12 17:30] Aybee commented on #8852
I saw this in BE with a new field for tl_members with chosen multiselect.
[code]

[2018-02-12 20:20] leofeyer commented on #8852
And what output exactly do you expect?

[2018-02-13 11:27] Aybee commented on #8852
I expect the output that is stated in the docs.
https://docs.contao.org/books/api/dca/reference.html
https://docs.contao.org/books/manual/3.3/de/06-Data-Container-Arrays.html

DE Sortiert ein Optionsarray anhand der Schlüssel anstatt anhand der Werte.

The keys in my example are 0, 1, 2. The values are a, c, b. So I expect a sorting a, b, c when set to false and a, c, b whe set to true.

[2018-02-13 12:13] ausi commented on #8852
I think the german translation is misleading.
The `findInSet` option is for sorting the entries in the listView of the DCA, not for sorting the options array itself for the widget. See https://github.com/contao/core/blob/c7f0310ebd3f4e8b32a82f10f9ffa6827ab4b2a3/system/modules/core/drivers/DC_Table.php#L4414

[2018-02-13 12:38] leofeyer commented on #8852
@Aybee Please create an issue (or preferably a pull request) at https://github.com/contao/docs.

[2018-02-13 12:38] #8852 closed, assigned to nobody

[2018-02-13 12:55] Aybee commented on #8852
Ok. I sorted the values with
[code]

[2018-02-13 19:44] netserving opened #8853 "Überprüfung der E-Mail Adresse"
Hallo zusammen,

ich hoffe ich habe nichts übersehen.
Die aktuelle Prüfung der E-Mail Adresse lässt beispielsweise die Endung .jetzt nicht zu.

Sollte dies noch nicht in der neusten Version integriert sein, würde eine Anpassung dringend Sinn machen.

Mit freundlichen Grüßen
Paul Schmitz

[2018-02-15 09:55] fritzmg commented on #8850
This issue is still assigned to the `3.5.33` milestone, however it hasn't actually been fixed in Contao `3.5.33`.

[2018-02-15 09:57] leofeyer commented on #8850
Nope, wrong milestone.

[2018-02-15 11:33] leofeyer opened #8854 "Sending newsletters to invalid domains"
If the domain of an e-mail address does not exist, the newsletter sending process will fail with the following exception:

[code]

We are already catching e-mail addresses which are not RFC compliant, so I guess we should check this case as well. However, we cannot simply catch all `Swift_TransportException` exceptions, because exceptions such as

[code]

should definitely be throws.

@contao/deve

[2018-02-15 12:28] Toflar commented on #8854
What would you do then? Throw a more specific exception and catch this or what's the plan?

[2018-02-15 14:08] leofeyer commented on #8843
As discussed in Mumble on February 15th, we should remove the autologin hash from `tl_member.autologin` if the username or the password changes. This affects Contao 3.5 to 4.4 (Contao 4.5 uses Symfony security).

[2018-02-15 14:21] leofeyer commented on #8845
Du beziehst Dich vermutlich auf folgende Zeilen:

https://github.com/contao/core/blob/c7f0310ebd3f4e8b32a82f10f9ffa6827ab4b2a3/system/modules/core/drivers/DC_Table.php#L387-L390

Diese Zeilen stammen noch aus Zeiten von TYPOlight 2 und wurden in Contao 4 bereits entfernt (siehe https://github.com/contao/core-bundle/issues/1130). `$session['CURRENT']['IDS']` enthält die IDs der Datensätze, die in d

[2018-02-15 15:30] leofeyer commented on #8854
As discussed in Mumble on February 15th, we have to analyze the exception code (which is the [SMTP reply code](http://www.supermailer.de/smtp_reply_codes.htm)) and process it accordingly. We also need to distinct between `450 4.1.2 Domain not found` and `450 4.2.0 Greylisted` and so on.

Either way, this kind of errors should not terminate the sending process.

[2018-02-15 20:12] intco opened #8855 "MetaWizard shows the languages in the wrong order"
https://github.com/contao/core/blob/c7f0310ebd3f4e8b32a82f10f9ffa6827ab4b2a3/system/modules/core/widgets/MetaWizard.php#L110

The "array_intersect_key" call nullifies the array_flip one.

just replace the highlighted line:

[code]
with the following:
[code]
The above code honors the array_flip call.

[2018-02-15 20:36] leofeyer commented on #8855
How do I reproduce the initial problem?

[2018-02-16 06:12] intco commented on #8855
Create two website root with the following languages: it and en (i.e. the first root page with language it and the second root page with language en)

Then upload a file and set meta data.
The first language metaWizard shows is "english" I think it should be "italian".

[2018-02-16 06:26] fritzmg commented on #8855
Which back end language did you set?

[2018-02-16 06:36] intco commented on #8855
The backend language it's not relevant.

I think it's due to the asort call at

https://github.com/contao/core/blob/c7f0310ebd3f4e8b32a82f10f9ffa6827ab4b2a3/system/modules/core/library/Contao/System.php#L437

because of the asort call the languages will be shown in alfabetically order so "Inglese" (italian word for english) will be ever shows before "Italiano" (italian word for italian)

[2018-02-16 06:40] intco commented on #8855
I think this:
https://github.com/contao/core/blob/c7f0310ebd3f4e8b32a82f10f9ffa6827ab4b2a3/system/modules/core/widgets/MetaWizard.php#L109

should also be:

[code]

so these lines:
https://github.com/contao/core/blob/c7f0310ebd3f4e8b32a82f10f9ffa6827ab4b2a3/system/modules/core/widgets/MetaWizard.php#L109-L110

should be replaced (i've changed variables names for readability) with:

[code]

Maybe a

[2018-02-16 15:56] leofeyer commented on #8850
Fixed in a0880b971b850f20561dc0b2b2769c4578d79c3d.

[2018-02-16 15:56] #8850 closed, assigned to leofeyer

[2018-02-16 16:23] leofeyer commented on #8843
Fixed in 9a6cc88f31ee486e5ca82d1524ebd76a680770cb.

[2018-02-16 16:23] #8843 closed, assigned to leofeyer

[2018-02-18 20:50] leofeyer commented on #8700
Wir haben das Problem nochmals diskutiert und sind zu dem Schluss gekommen, dass der Aufwand zu groß ist, um das in Contao 3 zu beheben.

[2018-02-18 20:50] #8700 closed

[2018-02-19 14:50] ausi commented on #8798
@funkjunkee could you please check if the changes from #8856 fix the issue in your installation?

[2018-02-19 15:09] #8798 closed

[2018-02-19 21:22] #8845 closed, assigned to nobody

[2018-02-19 21:24] leofeyer commented on #8853
Wie lässt sich das in der Onlinedemo reproduzieren?

[2018-02-19 21:26] leofeyer commented on #8855
It is relevant, so which language did you use?

[2018-02-20 00:56] diegovdev opened #8857 "How to install a Contao 3.x extension in Contao 4.x managed edition?"
Hi I found a few places that explain how to add an old Contao 3.x extension to Contao 4.x. But all those places talk about an app/AppKernel.php file that does not exist in Contao 4.4.13, I guess that file exists only in the standard edition. See [here](https://stackoverflow.com/questions/46195570/how-to-install-extensions-in-contao-4-4) and [here](https://www.marcosimbuerger.ch/contao-kurzanleitun

[2018-02-20 06:30] fiedsch commented on #8857
If I'm not mistaken, it should be enough to add `~4.4` in the `requires` section of your extensions `composer.json` like so:

[code]

[2018-02-20 07:59] fritzmg commented on #8857
Do you mean making it available via composer, like @fiedsch suggests? See the README of the composer-plugin: https://github.com/contao-community-alliance/composer-plugin/blob/master/README.md

If you mean manually installing, that's all you have to do in the Managed Edition:

* copy the extension to `system/modules`
* delete `var/cache`
* execute the Contao Install Tool

Any extension in `system/m

[2018-02-20 15:37] intco commented on #8855
The backend language is set to "Italian"

[2018-02-20 21:29] Aybee commented on #8857
Or without the console only with the Contao Manager
- copy the extension to `system/modules`
- refresh the packages with the manager to create symlinks

Also see Contao 3 extension in Contao 4 https://youtu.be/rwC8xfdO3Ao?t=681 - duration 2:04

[2018-02-22 00:47] diegovdev commented on #8857
Thanks for your responses. I meant install manually without composer, so I followed the steps from @fritzmg and also added this 2 steps:
* go to `backend > System > Maintenance` and run the `"Recreate the symlinks"` job
* go to `http://localhost/contao/install` and update database

That worked just fine. Thanks.

[2018-02-22 00:47] #8857 closed, assigned to nobody

[2018-02-22 07:48] joke1 commented on #8847
Ich denke nicht, dass dies notwendig ist. Wie willst du denn beweisen, dass der Nutzer auf die Checkbox geklickt hat?
Wichtig ist, dass deine Opt-In E-Mails keine Werbung beinhalten & du die Einverständnis dokumentierst. Einmal das Verfahren an sich und einmal die jeweilige Einverständnis, falls dich jemand bei der Aufsichtsbehörde meldet.

Hier sind einige Sachen ganz gut erklärt. Einiges ändert

[2018-02-22 16:43] leofeyer commented on #8854
Unfortunately I cannot reproduce this in my local test environment. Instead of throwing an exception, the request just times out (using an external SMTP server).

Can anyone else reproduce this?

[2018-02-25 10:27] netserving commented on #8853
in der aktuellen Onlinedemo lässt sich der Fehler nicht reproduzieren.
In der Version 3.5.19 kommt es allerdings zum Fehler.
Ich gehe davon aus das diese Version nicht mehr im LTS ist, daher kann der Fehler ignoriert werden.

[2018-02-25 12:01] fritzmg commented on #8853
Bevor du einen Fehler meldest, solltest du generell immer zuerst Contao aktualisieren.

[2018-02-25 19:24] #8853 closed, assigned to nobody

[2018-03-01 07:46] leofeyer commented on #8855
The languages being ordered alphabetically is correct. However, we have recently made a change in contao/core-bundle@94181f7ca21361576c5511f461d18957cf5c28cf so that languages matching the back end user's language are shown first. Maybe we should backport this?

[2018-03-01 13:54] josephbuarao opened #8860 "Do you need Filipino Translation for Contao?"
Hi there,

Good day and how are you? I hope this message finds you well.

I am Joseph Buarao , who has been doing high quality Filipino and Tagalog translations for several projects.

Consider this message as my letter of application. I am a web developer by profession and an experienced Filipino translator - these are on top of being an experienced web developer with more than 6 years of experien

[2018-03-01 14:06] Toflar commented on #8860
Hi Joseph,

Contao is translated using Transifex. You can find all relevant repositories here: https://www.transifex.com/contao/public/

Feel free to contribute, thanks 😄

[2018-03-01 14:16] #8860 closed, assigned to nobody

[2018-03-06 19:54] ausi commented on #8798
@funkjunkee The changes from #8856 are now released in Version 3.5.34.

It would be great if you could update your installation and give some feedback on the performance of the new folder hashing method.

[2018-03-09 14:33] dmolineus opened #8861 "Unique flag checks before save callback"
If a field has the unique flag set the unique check is made before the save callback is triggered.

Imagine the situation where a user inserts the same alias which already exists in the database and a save callback would fix it by adding a suffix. This callback is never called.

This error occurs in contao/core 3.5.x and the latest contao/core-bundle as well:

https://github.com/contao/core-bundle

[2018-03-09 14:47] dmolineus opened #8862 "DC Tables stores invalid data records"
The DC table saves data even if an error occurs in the edit mask. This leads to invalid data records.

Think about a user is editing an event where a duplicated alias exist.
 - Title is saved
 - Exception is thrown then saving the alias
 - Date is not updated

If an error occurs no data should be saved. This behaviour leads to invalid data records if the user stop working on the data record.

[2018-03-09 15:38] Schooott opened #8863 "Insert tags are not working in event title"
Insert tags are not working if they are used in event titles.
Contao 4.4.14 and 4.4.16.

[2018-03-12 00:42] aschempp commented on #8862
This is a known limitation of the DC Table. It even creates empty records if you start adding a record. I don't think we can change it without a completely new DC.

[2018-03-12 07:56] leofeyer commented on #8862
We cannot.

[2018-03-12 07:56] #8862 closed, assigned to nobody

[2018-03-12 08:24] dmolineus commented on #8862
Couldn't transactions solve the issue since Contao 4.5 uses innodb?

[2018-03-12 09:07] aschempp commented on #8862
A transaction would not solve the problem of page reload data updates.

[2018-03-13 07:23] lumas-consulting opened #8864 "Backend css rule for class .w50 not working for checkboxes"
Checkboxes need sometimes more space.
When using .w50 Class for custom backend elements the checkbox is limited to 80px height.
We should use a min-height: 80px instead.

<img width="373" alt="bildschirmfoto 2018-03-13 um 08 23 17" src="https://user-images.githubusercontent.com/6641281/37327752-d99b412e-2697-11e8-96d9-0121e7e5086d.png">

![image_1325](https://user-images.githubusercontent.com/6641

[2018-03-13 07:29] fritzmg commented on #8864
You should use w50 only for single ones. Or use tl_style => 'height:auto'.

[2018-03-14 06:00] lumas-consulting commented on #8864
Why build a workaround with inline-styles? What's the problem with a CSS change that would work in general?

[2018-03-15 10:09] leofeyer commented on #8847
Das habe ich bisher auch noch nirgends gelesen. @marcfunkitug Woher stammt diese Info?

[2018-03-15 10:15] leofeyer commented on #8861
I understand your point, however I'm not sure if such a change is backwards compatible?

[2018-03-15 10:15] leofeyer commented on #8863
How do I reproduce this?

[2018-03-15 10:22] Schooott commented on #8863
Add any insert tag to an event title like this with Contao version 4.4.16:
`My event {{version}}`

**Result:** Insert tags are not shown on eventlist or details.

This works for news titles, so it should work for events in the same way.

[2018-03-15 10:29] leofeyer commented on #8864
If we can be sure that `min-height` works in all browsers and does not cause any side-effects, I'd be in favor of this solution.

[2018-03-15 11:41] minstyle opened #8865 "Bild/Galerie: Link-Attribut optimieren"
Hallo zusammen,

in Contao 4.4.16 werden automatisch alle Bilder (mit aktivierter Option "Großansicht") mit dem Attribut `<a data-lightbox="xyz"><img><a>` versehen.

Beispiel:

![screenshot](https://user-images.githubusercontent.com/2649562/37460990-3eed0862-284d-11e8-8c41-cb097eca2bba.png)

Verantwortlich ist dafür die Contao-Variable `<?= $col->attributes ?>`.

Allerdings wird das Link-Attribut

[2018-03-15 13:33] Aybee commented on #8865
Dazu bekommst du im Forum bestimmt eine einfache Lösung. Ich denke nicht, dass man das Attribut im Inhaltselement einstellbar machen muss.

Wie initialisierst du die Fancybox? Du kannst die Links mit dem Attribute data-lightbox per JS suchen und modifizieren wie du möchtest, bevor du die Fancybox initialisierst.

Ein "Link-Attribut" gibt es nicht.

[2018-03-15 13:35] Aybee commented on #8864
And again it seems to be time for a flexbox solution.

[2018-03-15 14:10] marcfunkitug commented on #8847
html,body{background-color:#fff;color:#333;line-height:1.4;font-family:sans-serif,Arial,Verdana,Trebuchet MS;}Aktuell besuche ich sein Seminar zur neuen DS-GVO und grundsätzlich muss ich "einen Nachweis des Double-Opt-In / Einwilligung zum Newsletter" haben. Um diesen korrekt haben zu können, muss Datum, IP und E-Mailadresse gespeichert werden. Anhand dieser Daten ist ein personenbezogener Bezug m

[2018-03-15 14:26] leofeyer commented on #8861
As discussed in Mumble on March 15th, changing this would not only break backwards compatibility but also be wrong in terms of program flow. The save callback is executed when a value is saved not when it is validated. Validation needs to be done before saving.

Is there not another callback you can use?

[2018-03-15 14:58] minstyle commented on #8865
Vielen Dank für deine Antwort.

Habe es nun selbst mit PHP `str_replace` gelöst. Trotzdem finde ich es schade, dass hier `data-lightbox` von Contao vorgegeben wird.

[2018-03-15 14:58] #8865 closed, assigned to nobody

[2018-03-15 16:30] Schooott commented on #8863
Seems to work with:
`<?= $this->link ?>`
but not with
`<?= $this->title ?>`
When used in the event_list template.
Is this intended?

[2018-03-15 19:09] Aybee commented on #8865
Ich würde es im j_fancybox Template machen, da du dieses ja sowieso brauchst, dann sparst du dir ein angepasstes Template. Es gibt auch eine Fancybox Erweiterung, welche auch ein eigenes Template mitbringt. Aber Achtung, dort wird ein REL-Attribut hinzugefügt, welches dann invalide Werte bekommt. In HTML sind nur bestimmte Werte valide https://developer.mozilla.org/de/docs/Web/HTML/Link_types.
(Im

[2018-03-16 09:15] dmolineus commented on #8861
I understand your arguments. However following your arguments there should be another callback which is called before validation. but as far as I know there is no other callback which is triggered here. Correct me please, if I'm wrong.

[2018-03-16 12:04] leofeyer commented on #8861
@aschempp Any idea how this could be solved without adding a validation callback?

[2018-03-16 13:39] ausi commented on #8861
By disabling the `unique` flag and checking the uniqueness in the `save_callback` itself?

[2018-03-16 13:52] dmolineus commented on #8861
That's what I actually did. I only consider that it could be a common usecase that the value might be changed before the validation should be applied.

If you think it's not worth to change anything, feel free to close.

[2018-03-19 16:23] lumas-consulting commented on #8864
THX

[2018-03-20 09:16] leofeyer commented on #1175
10 years later in times of HTTP/2 I guess we can close this issue, can't we?

[2018-03-20 09:16] #1175 closed

[2018-03-20 09:19] leofeyer commented on #1158
Since the links in the original posts are no longer valid and the form generator has gotten a "redirect page" setting at some point, I'm closing this ticket.

[2018-03-20 09:19] #1158 closed

[2018-03-20 09:22] leofeyer commented on #1125
Ich schließe das Ticket aufgrund mangelnden Interesses.

[2018-03-20 09:22] #1125 closed

[2018-03-20 09:26] leofeyer commented on #907
Die Option "Speichern und duplizieren" wurde mittlerweile implementiert.

[2018-03-20 09:26] #907 closed

[2018-03-20 09:29] leofeyer commented on #874
@ausi has implemented drag and drop for the file manager in https://github.com/contao/core-bundle/pull/1394 and https://github.com/contao/core-bundle/pull/1386. Maybe this can be used as template for the site structure and the article tree?

[2018-03-20 09:29] #872 closed

[2018-03-20 09:33] leofeyer commented on #221
Siehe https://github.com/contao/core/issues/7177, https://github.com/contao/core/issues/7774 und https://github.com/contao/core-bundle/pull/807 .

[2018-03-20 09:33] #221 closed

[2018-03-20 09:35] leofeyer commented on #209
Ich schließe das Ticket aufgrund mangelnden Interesses.

[2018-03-20 09:35] #209 closed

[2018-03-20 09:36] leofeyer commented on #70
I'm closing this ticket due to lack of interest.

[2018-03-20 09:36] #70 closed

[2018-03-20 09:38] leofeyer commented on #1206
See https://github.com/contao/manager-bundle/issues/46

[2018-03-20 09:38] #1206 closed

[2018-03-20 09:39] leofeyer commented on #1247
This issue will be solved as soon as we have nested content elements, which we are working on.

[2018-03-20 09:39] #1247 closed

[2018-03-20 09:41] leofeyer commented on #1361
Ich schließe das Ticket aufgrund mangelnden Interesses.

[2018-03-20 09:41] #1361 closed

[2018-03-20 09:41] leofeyer commented on #1369
Ich schließe das Ticket aufgrund mangelnden Interesses.

[2018-03-20 09:41] #1369 closed

[2018-03-20 09:42] leofeyer commented on #1724
Ich schließe das Ticket aufgrund mangelnden Interesses.

[2018-03-20 09:42] #1724 closed

[2018-03-20 09:42] leofeyer commented on #1683
Siehe https://github.com/contao/manager-bundle/issues/46 .

[2018-03-20 09:42] #1683 closed

[2018-03-20 09:44] leofeyer commented on #1439
I'm closing this due to lack of interest. Maybe you can use the https://github.com/terminal42/contao-notification_center to accomplish this.

[2018-03-20 09:44] #1439 closed

[2018-03-20 09:44] leofeyer commented on #1449
Das Feature ist in Contao 4.5 enthalten.

[2018-03-20 09:44] #1449 closed

[2018-03-20 09:46] leofeyer commented on #1485
@ausi has enhanced the captcha in Contao 4.4 so the security question is only visible if a bot fills in certain invisible fields (honeypot).

[2018-03-20 09:46] #1485 closed

[2018-03-20 09:47] leofeyer commented on #1518
Ich schließe das Ticket aufgrund mangelnden Interesses.

[2018-03-20 09:47] #1518 closed

[2018-03-20 09:47] leofeyer commented on #1544
I'm closing the ticket due to lack of interest.

[2018-03-20 09:47] #1544 closed

[2018-03-20 09:49] leofeyer commented on #1550
8 Jahre später schließe ich das Ticket mangels Relevanz.

[2018-03-20 09:49] #1550 closed

[2018-03-20 09:49] leofeyer commented on #1644
Ich schließe das Ticket aufgrund mangelnden Interesses.

[2018-03-20 09:49] #1644 closed

[2018-03-20 09:49] leofeyer commented on #1647
Ich schließe das Ticket aufgrund mangelnden Interesses.

[2018-03-20 09:49] #1647 closed

[2018-03-20 09:50] leofeyer commented on #1673
Ich schließe das Ticket aufgrund mangelnden Interesses.

[2018-03-20 09:50] #1673 closed

[2018-03-20 09:52] leofeyer commented on #2214
I'm closing the ticket due to lack of interest.

[2018-03-20 09:52] #2214 closed

[2018-03-20 09:53] leofeyer commented on #2191
Ich schließe das Ticket aufgrund mangelnden Interesses.

[2018-03-20 09:53] #2191 closed

[2018-03-20 09:54] leofeyer commented on #2168
With the new drag and drop upload feature in Contao 4.6 (see https://github.com/contao/core-bundle/pull/1386) such a button is no longer necessary.

[2018-03-20 09:54] #2168 closed

[2018-03-20 09:55] leofeyer commented on #2162
Ich schließe das Ticket aufgrund mangelnden Interesses.

[2018-03-20 09:55] #2162 closed

[2018-03-20 09:56] leofeyer commented on #2158
I'm closing the ticket due to lack of interest.

[2018-03-20 09:56] #2158 closed

[2018-03-20 09:56] leofeyer commented on #2154
Ich schließe das Ticket aufgrund mangelnden Interesses.

[2018-03-20 09:56] #2154 closed

[2018-03-20 09:57] leofeyer commented on #2134
Ich schließe das Ticket aufgrund mangelnden Interesses.

[2018-03-20 09:57] #2134 closed

[2018-03-20 09:57] leofeyer commented on #2104
Ich schließe das Ticket aufgrund mangelnden Interesses.

[2018-03-20 09:57] #2104 closed

[2018-03-20 09:59] leofeyer commented on #1901
I'm closing the ticket due to lack of interest.

[2018-03-20 09:59] #1901 closed

[2018-03-20 09:59] leofeyer commented on #1881
Ich schließe das Ticket aufgrund mangelnden Interesses.

[2018-03-20 09:59] #1881 closed

[2018-03-20 10:00] leofeyer commented on #1841
SimplePie meanwhile supports this.

[2018-03-20 10:00] #1841 closed

[2018-03-20 10:01] leofeyer commented on #1816
Ich schließe dieses Ticket, da es in Contao 4.4 kein Tabellenlayout mehr gibt.

[2018-03-20 10:01] #1816 closed

[2018-03-20 10:03] leofeyer commented on #2227
I'm closing the ticket due to lack of interest.

[2018-03-20 10:03] #2233 closed

[2018-03-20 10:04] fritzmg commented on #2227
This is actually requested/asked a lot on the forum. There is already an extension for that of course, but I think it would be a viable addition to the core.

[2018-03-20 10:07] leofeyer commented on #2263
Nachdem Firefox auch heute noch der einzige Browser ist, der dieses Feature unterstützt, werden wir das in Contao nicht einbauen.

[2018-03-20 10:07] #2263 closed

[2018-03-20 10:09] leofeyer commented on #2320
Siehe https://github.com/contao/image/issues/44

[2018-03-20 10:09] #2320 closed

[2018-03-20 10:09] leofeyer commented on #2329
Ich schließe das Ticket aufgrund mangelnden Interesses.

[2018-03-20 10:09] #2329 closed

[2018-03-20 10:11] leofeyer commented on #2227
Which extension are you referring to?

[2018-03-20 10:12] leofeyer commented on #2395
Ich schließe das Ticket aufgrund mangelnden Interesses.

[2018-03-20 10:12] #2395 closed

[2018-03-20 10:13] leofeyer commented on #2447
Ich schließe das Ticket aufgrund mangelnden Interesses.

[2018-03-20 10:13] #2447 closed

[2018-03-20 10:13] fritzmg commented on #2227
https://github.com/Messa1/contao-database-select-table

[2018-03-20 10:14] leofeyer commented on #2463
I'm closing the ticket due to lack of interest.

[2018-03-20 10:14] #2463 closed

[2018-03-20 10:15] leofeyer commented on #2519
Ich schließe das Ticket aufgrund mangelnden Interesses.

[2018-03-20 10:15] #2519 closed

[2018-03-20 10:16] leofeyer commented on #2594
I'm closing the ticket due to lack of interest.

[2018-03-20 10:16] #2594 closed

[2018-03-20 10:17] leofeyer commented on #2605
Wie lässt sich das in der Onlinedemo reproduzieren?

[2018-03-20 10:18] leofeyer commented on #2624
Ich schließe das Ticket aufgrund mangelnden Interesses.

[2018-03-20 10:18] #2624 closed

[2018-03-20 11:52] leofeyer commented on #2715
Ich schließe das Ticket aufgrund mangelnden Interesses.

[2018-03-20 11:52] #2715 closed

[2018-03-20 11:52] #2717 closed

[2018-03-20 11:54] leofeyer commented on #2769
@taca Is this ticket still relevant?

[2018-03-20 11:56] leofeyer commented on #2822
I'm closing the ticket due to lack of interest.

[2018-03-20 11:56] #2822 closed

[2018-03-20 11:57] leofeyer commented on #2866
Ich schließe das Ticket aufgrund mangelnden Interesses.

[2018-03-20 11:57] #2866 closed

[2018-03-20 11:58] leofeyer commented on #2873
Ich schließe das Ticket aufgrund mangelnden Interesses. Vermutlich könntest Du das Problem auch mittels des `{{insert_content::*}}`-Tags lösen.

[2018-03-20 11:58] #2873 closed

[2018-03-20 12:02] leofeyer commented on #2877
Insert tags are replaced very late in the program flow and thus do not know where on the page they are or in which context they have been added. Therefore this cannot be implemented.

[2018-03-20 12:02] #2877 closed

[2018-03-20 12:03] leofeyer commented on #2933
Ich schließe das Ticket aufgrund mangelnden Interesses.

[2018-03-20 12:03] #2933 closed

[2018-03-20 12:05] leofeyer commented on #2983
I'm closing the ticket due to lack of interest.

[2018-03-20 12:05] #2983 closed

[2018-03-20 12:06] leofeyer commented on #3024
I guess now that Contao supports content elements in news articles, this ticket is no longer valid.

[2018-03-20 12:06] #3024 closed

[2018-03-20 12:07] leofeyer commented on #3041
Mit Symfony und Doctrine hat sich dieses Ticket inzwischen wohl erledigt, oder?

[2018-03-20 12:07] #3041 closed

[2018-03-20 12:11] leofeyer commented on #3651
Ich schließe das Ticket aufgrund mangelnden Interesses.

[2018-03-20 12:11] #3651 closed

[2018-03-20 12:11] leofeyer commented on #3109
I'm closing the ticket due to lack of interest.

[2018-03-20 12:11] #3109 closed

[2018-03-20 12:11] leofeyer commented on #3119
Ich schließe das Ticket aufgrund mangelnden Interesses.

[2018-03-20 12:11] #3119 closed

[2018-03-20 12:15] leofeyer commented on #3162
This ticket appears to have stalled. Can it be closed or do you want to start/keep working on it?

[2018-03-20 12:16] leofeyer commented on #3170
I'm closing the ticket due to lack of interest.

[2018-03-20 12:16] #3170 closed

[2018-03-20 12:17] leofeyer commented on #3180
See https://github.com/contao/core/issues/7171 .

[2018-03-20 12:17] #3180 closed

[2018-03-20 12:19] leofeyer commented on #3227
I guess we can close this ticket. It is 2018 and Google has announced that one of the next Chrome versions will block HTTP websites as insecure. The initial problem can be fixed with a protocol-less URL.

[2018-03-20 12:19] #3227 closed

[2018-03-20 12:19] #3276 closed

[2018-03-20 12:20] leofeyer commented on #3375
Siehe https://github.com/contao/core/issues/874 .

[2018-03-20 12:20] #3375 closed

[2018-03-20 12:21] leofeyer commented on #3397
Ich schließe das Ticket aufgrund mangelnden Interesses.

[2018-03-20 12:21] #3397 closed

[2018-03-20 12:21] leofeyer commented on #3455
Ich schließe das Ticket aufgrund mangelnden Interesses.

[2018-03-20 12:21] #3455 closed

[2018-03-20 12:22] Toflar commented on #3162
Same as ever: I still think it would make sense to improve the module but we should probably go for knp menu here, too. Maybe something for @sheeep or @backbone87 :)

[2018-03-20 12:22] leofeyer commented on #3501
Siehe https://github.com/contao/core/issues/1414 .

[2018-03-20 12:22] #3501 closed

[2018-03-20 12:22] leofeyer commented on #3526
Ich schließe das Ticket aufgrund mangelnden Interesses.

[2018-03-20 12:22] #3526 closed

[2018-03-20 12:24] leofeyer commented on #3561
Ich schließe das Ticket aufgrund mangelnden Interesses.

[2018-03-20 12:24] #3561 closed

[2018-03-20 12:25] fritzmg commented on #1414
@bezin can you make a PR? ;)

[2018-03-20 12:25] leofeyer commented on #3576
Da der interne CSS-Editor mittlerweile deprecated ist und auch schon seit Jahren nicht mehr weiter entwickelt wurde, können wir dieses Ticket wohl schließen.

[2018-03-20 12:25] #3576 closed

[2018-03-20 12:26] leofeyer commented on #3618
Ich schließe das Ticket aufgrund mangelnden Interesses.

[2018-03-20 12:26] #3618 closed

[2018-03-20 12:27] frontendschlampe commented on #3162
It would be great if there will be more options for navigation. We already have an extended navigation module for Contao https://github.com/backbone87/contao-navigation ... I think there are some things which could be implemented ... @backbone87 should think about it!

[2018-03-20 13:26] leofeyer commented on #3659
I'm closing the ticket due to lack of interest.

[2018-03-20 13:26] #3659 closed

[2018-03-20 13:29] leofeyer commented on #3680
Ich schließe das Ticket aufgrund mangelnden Interesses.

[2018-03-20 13:29] #3680 closed

[2018-03-20 13:30] leofeyer commented on #4650
See #3719.

[2018-03-20 13:30] #4650 closed

[2018-03-20 13:31] leofeyer commented on #3770
Ich schließe das Ticket aufgrund mangelnden Interesses.

[2018-03-20 13:31] #3770 closed

[2018-03-20 13:32] leofeyer commented on #3803
Ich schließe das Ticket aufgrund mangelnden Interesses.

[2018-03-20 13:32] #3803 closed

[2018-03-20 13:32] leofeyer commented on #3829
Siehe https://github.com/contao/manager-bundle/issues/46 .

[2018-03-20 13:32] #3829 closed

[2018-03-20 13:33] leofeyer commented on #3842
I'm closing the ticket due to lack of interest.

[2018-03-20 13:33] #3842 closed

[2018-03-20 13:37] leofeyer commented on #3879
I'm closing this ticket due to lack of interest.

[2018-03-20 13:37] #3879 closed

[2018-03-20 13:41] leofeyer commented on #4080
I'm closing this ticket due to lack of interest.

[2018-03-20 13:41] #4080 closed

[2018-03-20 14:03] leofeyer commented on #4136
Ich sehe das so wie @psi-4ward.

[2018-03-20 14:03] #4136 closed

[2018-03-20 14:03] leofeyer commented on #4147
I'm closing this ticket due to lack of interest.

[2018-03-20 14:03] #4147 closed

[2018-03-20 14:08] leofeyer commented on #4274
Ich schließe das Ticket aufgrund mangelnden Interesses.

[2018-03-20 14:08] #4274 closed

[2018-03-20 14:09] leofeyer commented on #4406
Ich schließe das Ticket aufgrund mangelnden Interesses.

[2018-03-20 14:09] #4406 closed

[2018-03-20 14:11] leofeyer commented on #4583
Ich schließe das Ticket aufgrund mangelnden Interesses.

[2018-03-20 14:11] #4583 closed

[2018-03-20 14:11] fritzmg commented on #1107
Diese Funktionalität gibt es schon mit diversen Extensions über Tags oder Kategorien.

Die Möglichkeit eine News direkt zu einer anderen verwandt zu setzen gibt es auch mit https://github.com/fritzmg/contao-news-related

[2018-03-20 14:14] leofeyer commented on #4704
We have recently discussed the download attribute in https://github.com/contao/core-bundle/pull/1336 and voted against adding it to fix a Safari bug. Do we want to keep this ticket open anyway?

[2018-03-20 14:18] leofeyer commented on #1270
See #4868.

[2018-03-20 14:18] #1270 closed

[2018-03-20 14:21] leofeyer commented on #5014
We have discussed this many times and the rule is "never manipulate user generated files". It is ok to create a `robots.txt` file if there is none yet, but we must never mess with an existing and potentially customized file!

[2018-03-20 14:21] #5014 closed

[2018-03-20 14:22] leofeyer commented on #5049
I'm closing this ticket due to lack of interest.

[2018-03-20 14:22] #5049 closed

[2018-03-20 14:23] leofeyer commented on #5050
Das wurde inzwischen in Contao 4 entsprechend implementiert.

[2018-03-20 14:23] #5050 closed

[2018-03-20 14:25] #5080 closed

[2018-03-20 14:26] leofeyer commented on #5121
I'm closing this ticket due to lack of interest.

[2018-03-20 14:26] #5121 closed

[2018-03-20 14:26] leofeyer commented on #5142
I'm closing this ticket due to lack of interest.

[2018-03-20 14:26] #5142 closed

[2018-03-20 14:28] leofeyer commented on #5230
I'm closing this ticket due to lack of interest.

[2018-03-20 14:28] #5230 closed

[2018-03-20 14:30] leofeyer commented on #5335
This has been implemented in Contao 4.5.

[2018-03-20 14:30] #5335 closed

[2018-03-20 14:32] leofeyer commented on #5404
I'm closing this ticket due to lack of interest.

[2018-03-20 14:32] #5404 closed

[2018-03-20 14:34] leofeyer commented on #5634
Ich schließe das Ticket aufgrund mangelnden Interesses. Vermutlich benutzen die Leute eure Extension. 😄

[2018-03-20 14:34] #5634 closed

[2018-03-20 14:42] leofeyer commented on #5740
Since the mBox project has been abandoned (see https://github.com/StephanWagner/mBox/), I guess we can close the ticket.

[2018-03-20 14:42] #5740 closed

[2018-03-20 14:43] leofeyer commented on #5777
I'm closing this ticket due to lack of interest.

[2018-03-20 14:43] #5777 closed

[2018-03-20 14:44] leofeyer commented on #5819
I'm closing this ticket due to lack of interest.

[2018-03-20 14:44] #5819 closed

[2018-03-20 14:44] leofeyer commented on #5879
I'm closing this ticket due to lack of interest.

[2018-03-20 14:44] #5879 closed

[2018-03-20 14:45] fritzmg commented on #1668
Can be closed in favor of https://github.com/contao/core-bundle/issues/1243 imho.

[2018-03-20 14:46] leofeyer commented on #5920
Ist in Contao 4.4 implementiert.

[2018-03-20 14:46] #5920 closed

[2018-03-20 14:53] leofeyer commented on #6259
Wofür brauchst Du das in Zeiten von [:nth-child](https://css-tricks.com/useful-nth-child-recipies/)?

[2018-03-20 14:54] leofeyer commented on #6392
I'm closing this ticket due to lack of interest.

[2018-03-20 14:54] #6392 closed

[2018-03-20 14:56] leofeyer commented on #6538
Das Feature haben wir in Contao 4.4 implementiert.

[2018-03-20 14:56] #6538 closed

[2018-03-20 14:59] leofeyer commented on #6702
I'm closing this ticket due to lack of interest.

[2018-03-20 14:59] #6702 closed

[2018-03-20 15:01] leofeyer commented on #6898
Ich schließe das Ticket aufgrund mangelnden Interesses.

[2018-03-20 15:01] #6898 closed

[2018-03-20 15:02] leofeyer commented on #6908
I'm closing this ticket due to lack of interest.

[2018-03-20 15:02] #6908 closed

[2018-03-20 15:03] leofeyer commented on #6966
This has been changed meanwhile.

[2018-03-20 15:03] #6966 closed

[2018-03-20 15:03] leofeyer commented on #6985
Ich schließe das Ticket aufgrund mangelnden Interesses.

[2018-03-20 15:03] #6985 closed

[2018-03-20 15:04] leofeyer commented on #7091
Ich schließe das Ticket aufgrund mangelnden Interesses.

[2018-03-20 15:04] #7091 closed

[2018-03-20 15:05] leofeyer commented on #7113
I guess this ticket can be closed now that we are using Symfony security.

[2018-03-20 15:05] #7113 closed

[2018-03-20 15:06] leofeyer commented on #7312
Das Feature wurde in Contao 4.4 implementiert.

[2018-03-20 15:06] #7312 closed

[2018-03-20 15:08] leofeyer commented on #7342
Ich denke das Ticket hat sich durch den DCA-Picker erledigt, den Du mittels `'dcaPicker' => true` zu jedem Feld hinzufügen kannst. Anschließend kannst Du entweder eine URL selbst eingeben oder einen Inserttag picken.

[2018-03-20 15:08] #7342 closed

[2018-03-20 15:11] leofeyer commented on #7463
You can accomplish this with the [notification center](https://github.com/terminal42/contao-notification_center).

[2018-03-20 15:11] leofeyer commented on #7464
I'm closing this ticket due to lack of interest.

[2018-03-20 15:11] #7464 closed

[2018-03-20 15:12] leofeyer commented on #7484
I'm closing this ticket due to lack of interest.

[2018-03-20 15:12] #7484 closed

[2018-03-20 15:17] leofeyer commented on #7728
Eventuell lässt sich das im [notification center](https://github.com/terminal42/contao-notification_center) konfigurieren?

[2018-03-20 15:19] leofeyer commented on #7735
Ich gehe davon aus, dass Du das Frontend-Theme und darin das Feld "Folders" meinst, oder? Dort kann ich jedoch mehrere Ordner auswählen.

[2018-03-20 15:20] leofeyer commented on #7761
Inzwischen gibt es ein `form_wrapper.html5`-Template.

[2018-03-20 15:20] #7761 closed

[2018-03-20 15:21] leofeyer commented on #7827
I'm closing this ticket due to lack of interest.

[2018-03-20 15:21] #7827 closed

[2018-03-20 15:22] leofeyer commented on #7838
This feature has meanwhile been implemented.

[2018-03-20 15:22] #7838 closed

[2018-03-20 15:24] leofeyer commented on #7947
In Contao 4.4 sollte das Alias erhalten bleiben und in Contao 4.5 kannst Du konfigurieren nach welchen Regeln das Alias erstellt werden soll.

[2018-03-20 15:24] #7947 closed

[2018-03-20 15:26] #1668 closed

[2018-03-20 15:36] denniserdmann commented on #7735
Stimmt. Du hast recht, das habe ich übersehen und eine praktikable Lösung fällt mir so spontan auch nicht ein.

[2018-03-20 16:37] leofeyer commented on #8025
I'm closing this ticket due to lack of interest.

[2018-03-20 16:37] #8025 closed

[2018-03-20 16:38] leofeyer commented on #8057
Siehe https://github.com/contao/core-bundle/issues/1330 .

[2018-03-20 16:38] #8057 closed

[2018-03-20 16:39] leofeyer commented on #8063
See https://github.com/contao/core-bundle/issues/1051 .

[2018-03-20 16:39] #8063 closed

[2018-03-20 16:39] leofeyer commented on #8073
I'm closing this ticket due to lack of interest.

[2018-03-20 16:39] #8073 closed

[2018-03-20 17:07] leofeyer commented on #8094
@contao/developers What do you think about this?

[2018-03-20 17:10] leofeyer commented on #8169
The new DCA picker renders this ticket redundant.

[2018-03-20 17:10] #8169 closed

[2018-03-20 17:11] bytehead commented on #8094
I totally understand and like the idea. I don't know if there are any issues in case of BC?

[2018-03-20 17:15] leofeyer commented on #7735
Sollen wir das Ticket dann erstmal schließen?

[2018-03-20 17:16] leofeyer commented on #8094
The only problem I have is that DCA files are meant to run in the context of a data container like `DC_Table` and not within a model.

[2018-03-20 19:10] ausi commented on #2605
Wenn man <https://demo.contao.org/en/newsletter.html?token=invalidtoken> aufruft, sind unter der Überschrift „Subscribe to our newsletter“ keine Felder zum abbonieren mehr sichtbar.

Das Problem mit der Navigation lässt sich jedoch nicht mehr nachstellen.

[2018-03-20 19:23] #8347 closed

[2018-03-20 19:28] leofeyer commented on #8426
Ich schließe das Ticket aufgrund mangelnden Interesses.

[2018-03-20 19:28] #8426 closed

[2018-03-20 19:31] leofeyer commented on #8511
Ich schließe das Ticket aufgrund mangelnden Interesses.

[2018-03-20 19:31] #8511 closed

[2018-03-20 19:32] leofeyer commented on #8523
Siehe https://github.com/contao/contao/issues/6362 .

[2018-03-20 19:32] #8523 closed

[2018-03-20 19:32] leofeyer commented on #8525
Ist mittlerweile implementiert.

[2018-03-20 19:32] #8525 closed

[2018-03-20 19:32] leofeyer commented on #8550
I'm closing this ticket due to lack of interest.

[2018-03-20 19:32] #8550 closed

[2018-03-20 19:39] leofeyer commented on #8648
@aschempp @Toflar Lässt sich dieser Fall schon über Fragments abbilden?

[2018-03-20 19:40] leofeyer commented on #8662
See #8663.

[2018-03-20 19:43] leofeyer commented on #8817
This has been implemented meanwhile.

[2018-03-20 19:43] #8817 closed

[2018-03-20 19:44] leofeyer commented on #8822
@contao/developers Was denkt ihr darüber, den Punkt "Dateiverwaltung" in die Gruppe "Inhalte" zu verschieben?

[2018-03-20 19:49] ausi commented on #8822
Ich denke nicht dass ein Verschieben zu „Inhalte“ es besser macht als es jetzt ist.

[2018-03-20 20:01] jankout commented on #8662
Sorry, but this is not the same like the another features to that you have liked.

[2018-03-20 21:11] frontendschlampe commented on #8822
naja ... unter Inhalte würde es sicherlich besser passen. Wenn man von einem Redakteur ausgeht, der Inhalte pflegt, dann gehören Dateien zu den Inhalten ...

[2018-03-21 04:05] taca commented on #2769
Yes, it is.
Sadly, http://php.net/manual/en/function.str-word-count.php dose not solve on this problem at all, for no word divider languages.  For these languages, morphological analysis or N-Gram are required to get words.

[2018-03-21 04:24] taca commented on #2769
And I must say that I can not follow up about implementation of page search on Contao for 4.x.
Still simply use preg_split()?

[2018-03-21 07:12] leofeyer commented on #2769
Yes.

https://github.com/contao/core-bundle/blob/821041b5ed2dacc4e0aa96cbb0f23c377163fcbd/src/Resources/contao/library/Contao/Search.php#L241

@contao/developers How can we solve this?

[2018-03-21 07:16] leofeyer commented on #8662
You are right.

[2018-03-21 07:39] #7735 closed

[2018-03-21 07:44] Toflar commented on #2769
Well, even the MySQL Full-Text Search uses whitespaces as delimiters for words. I'm not saying it's good that we do this but also for MySQL it requires [very special handling, installing extensions and running specific queries](https://dev.mysql.com/doc/refman/5.7/en/fulltext-search-mecab.html) to support e.g. Japanese. I'm all in to provide solutions for these type of languages but it's impossibl

[2018-03-21 07:50] Toflar commented on #8648
Ja, genau dafür sind sie da. Aber es funktioniert nicht einfach "auf Klick" genauso wie es mit dem `uncached` InsertTag-Flag auch nicht funktionieren würde. Wenn ein Teil der Webseite vom Cache ausgenommen ist, muss er gewisse Daten für sich speichern bzw. dafür sorgen, dass er diese Daten kriegt wenn er vom übergeordneten Cache-Eintrag (also in diesem Fall der Seite) aufgerufen wird. Seiten-Infor

[2018-03-21 07:56] Toflar commented on #8822
Ich find's irgendwie seltsam. Wer sagt denn, dass Dateien Inhalte sind? Wenn ich eine Datei in einem HTML-Frontendmodul per InsertTag referenziere, ist das dann "Inhalt" oder "Layout"? Also ich persönlich komm mit allem zurecht, aber ich denke wir sollten eine Umfrage starten und die Mehrheit entscheiden lassen.

- Belassen wie's ist
- Nach "Inhalte" schieben
- Eigene Menügruppe "Dateiverwaltung"

[2018-03-21 07:56] ausi commented on #2769
The intl extension could help us here to split text into words, e.g.:

[code]

[2018-03-21 07:59] Toflar commented on #2769
That could work although I have no clue if that's enough. E.g. we also highlight the keywords in the search results so there needs to be some handling too I guess (or it needs to be moved). And as I said, no idea if that will provide good results. I'm pretty sure we need a native speaking developer here.

[2018-03-21 08:48] fritzmg commented on #8663
@bezin how about that PR? ;)

[2018-03-21 08:55] leofeyer commented on #2769
The keyword highlighting uses the word boundary assertion (`\b`) together with the unicode flag (`/u`), which should handle this case properly.

@ausi Maybe we can even use `\b` to split the string into words?

[2018-03-21 09:14] leofeyer commented on #8822
Der Punkt "eigene Menügruppe" steht ja nicht wirklich zur Diskussion, da die Gruppe sonst "Dateiverwaltung" hieße und es darin nur einen Punkt "Dateiverwaltung" gäbe. 😄

[2018-03-21 09:16] frontendschlampe commented on #8822
Da gebe ich Dir Recht. ;-)

Ist irgendwie ein blödes Thema und eine Grundsatzdiskussion! :-D Man könnte die Dateien ja ggfs. sogar aufspalten in wirkliche Inhalte und Arbeitsdateien wie Scripte, CSS usw. Dass die mit in Files liegen, ist nicht immer vorteilhaft!

[2018-03-21 09:23] jankout opened #8866 "Feature: Adding meta informations to files after the upload process is finished at the upload place"
I would like to have the possibility to add meta informations to newly uploaded files directly at the upload place.

There could be 2 possibilities to do it - with the function above for multiple adding or with a editing function under each uploaded file (not designed in my suggestion yet). In the last case the file tree should change too.

My suggestion is below.
![meta-informationen hinzufugen_1

[2018-03-21 10:17] ausi commented on #2769
No, the segmentation of text into words is dependent on the locale.
`\b` does not work for Japanese.

But we could also use the `IntlBreakIterator` to highlight the words. But as @Toflar pointed out, we would need a native speaker that verifies that `IntlBreakIterator` works correctly for this case.

[2018-03-21 10:40] leofeyer commented on #8863
I just checked this with my local 4.4 installation. I have appended `{{version}}` to all news articles and events of the Contao Official Demo and then opened the front end in my browser.

* The version number was shown in the news list, news archive and news reader modules.
* The version number was shown in the event list, upcoming events and event reader modules.

The `event_full.html5` template

[2018-03-21 10:43] leofeyer commented on #2227
Nice, I didn't know about this one.

![screenshot](https://user-images.githubusercontent.com/1192057/37705636-fc8d1868-2cfc-11e8-9bd6-08045e825e3b.jpg)

[2018-03-21 10:45] leofeyer commented on #2769
If we supply an adjusted `Search.php` (maybe as Gist), I'm sure @taca can test if the changes work.

[2018-03-21 10:49] bezin commented on #8663
Unfortunately, we did not get any feedback on our extension so far. But also no negative feedback – I guess that could also be seen as encouragement to continue ;)

[2018-03-21 13:40] Misco opened #8867 "Problem mit Inserttag {{br}} in Events Contao 3.5.34"
[code]

{{br}} $this->link klappt.
{{br}} $this->title klappt nicht.

sollte sich gleich verhalten, oder?

[2018-03-21 13:46] aschempp commented on #8094
This will never work correctly imho. We should rather target for Doctrine entities to support their lifecycle callbacks.

[2018-03-21 13:48] aschempp commented on #7728
Lässt es sich nicht. Mit dem Notification Center lassen sich E-Mail Texte eingeben, nicht E-Mail Versand steuern. Ich könnte mir vorstellen dass wir dafür eine Bundle-Konfiguration einführen, das liesse sich im entsprechenden Security Listener leicht prüfen.

[2018-03-21 13:49] aschempp commented on #8861
A unique-check would no longer be necessary if the value is automatically update to be none-unique, so the unique flag would not make sense anyway.

[2018-03-21 13:49] aschempp commented on #7463
I'm not aware of a feature in Notification Center that allows to send an email when an account is closed…

[2018-03-21 13:49] Aybee commented on #8867
Das gäbe Probleme, da `$this->title` auch für Attribute - hier `title` -  gedacht ist.

[2018-03-21 13:56] Misco commented on #8867
$this->link auch im else verwenden. Auch ohne Detail-Element erfolgt eine Ausgabe.
Die Bezeichnung ist dann nur etwas Irreführend, umbennen in $this->headline?

[2018-03-21 14:04] aschempp commented on #2227
Why reopen if an extension already provides the feature?

[2018-03-21 14:19] asaage commented on #8867
Ich würde an deiner Stelle darauf verzichten ```{{br}}``` in Titelfeldern zu verwenden.
im Template kommst du evtl. noch mit [StringUtil](https://github.com/contao/core/blob/3.5/system/modules/core/library/Contao/StringUtil.php) hin.
Wie es mit dem title-Element im head aussieht weiß ich allerdings gerade nicht und im BE bleibts ohnehin sichtbar.

[2018-03-21 14:29] fritzmg commented on #8867
`{{br}}` in Titeln ist an und für sich kein Problem. Contao entfernt an allen relevanten Stellen automatisch die Insert Tags, anstatt sie zu ersetzen. Des wegen funktioniert auch hier der `{{br}}` Insert Tag nicht, weil ja, wie schon angemerkt wurde, der Event Titel auch in einem `title` Attribut zum Einsatz kommt und dort natürlich kein HTML Code ausgegeben werden sollte.

[2018-03-21 14:32] leofeyer commented on #7728
Über den Sinn der Mail lässt sich eh streiten. Vielleicht bräuchte man sie auch gar nicht?

[2018-03-21 14:34] leofeyer commented on #8861
That's very true.

[2018-03-21 14:40] Aybee commented on #8025
Meanwhile most admins use the extension notification-center https://github.com/terminal42/contao-notification_center.

[2018-03-21 19:32] Aybee commented on #3561
Aber eigentlich nicht schlecht die Idee, dass man in der Liste zumindestens sehen kann, welche Events sich wiederholen, wenn auch nicht mit der genauen Angabe, wie oft und in welchem Turnus. Man sieht ja nur das erste Datum und das kann schon sehr irritierend sein.
`[2013-05-09 10:00–2013-05-10 21:00 - repeated]`

[2018-03-21 19:42] Aybee commented on #3119
Mmh, seltsam, dass keiner Interesse bekundet hat. Ich sehe dies im Forum ansonsten immer wieder, dass alle die Formulardaten weiterreichen möchten.

[2018-03-21 20:17] Aybee commented on #1175
IMHO using sprites still is a good idea. Maybe we can use SVG sprites. In the site structure list I found 35 SVG requests. Maybe this could be reduced to only one.

[2018-03-21 20:50] Aybee commented on #8867
Von welchem Modul sprichst du hier überhaupt?

In der **Eventlist** bekommst du den Titel mit Inserttags und HTML mit `$this->link`. `$this->title` ist ohne HTML, weil für das TITLE-Attribut gedacht.

In dem **Eventreader** bekommst du den Titel mit Inserttags und HTML über `$this->title`.

{{br}} $this->title klappt nicht.
sollte sich gleich verhalten, oder?

Die Anwort darauf ist also "Nein".

H

[2018-03-22 03:11] aschempp commented on #1175
@Aybee feel free to create a pull request if you think it's worth the effort 😊

[2018-03-22 07:20] lindesbs opened #8868 "Undefined variable in branch 3.x"
Beginning of branch 3.x the variable blnRecordExists is used without initialized with data. This bug results in cleaning autologin data on logout()

The variable blnRecordExists in branch 2.11
Initialization in
https://github.com/contao/core/blob/2.11/system/libraries/Model.php#L77

Defined when row exists
https://github.com/contao/core/blob/2.11/system/libraries/Model.php#L178

In the branch 3.x

[2018-03-22 07:25] leofeyer commented on #8868
That is true, however I don't see how this can result in cleaning the data? Since the property is never initialized, it should be `null` and thus result in **not** cleaning the data. Did you mean this?

[2018-03-22 07:31] lindesbs commented on #8868
Yes. Users which has been self logout manually, will be relogedin automatically.

[2018-03-22 08:06] leofeyer commented on #8868
@contao/developers I guess we can just remove the if condition entirely, can't we?

[2018-03-22 08:08] lindesbs commented on #8868
Our fix is replacing with this:
if ($this->autologin)

[2018-03-22 08:09] aschempp commented on #8868
Very interesting find. The variable is undefined because the User class is no longer based on Model since Contao 3. I don't understand why the check for `blnRecordExists` is necessary at all though...

[2018-03-22 08:13] aschempp commented on #8868
Well it is possible to do a `FrontendUser::getInstance()` call and call `logout`, which would be an unexpected result. We should probably check for `$this->intId > 0`.

[2018-03-22 08:14] lindesbs commented on #8868
There is an additional problem with ModuleCloseAccount. We have to check, if the MemberRow still exists. The entry will be deleted afterwards it will be logout()
https://github.com/contao/core/blob/3.5/system/modules/core/modules/ModuleCloseAccount.php#L135

[2018-03-22 09:35] fritzmg commented on #8867
Naja, das ist aber ein Befüllungsfehler. Man sollte `Contao Example{{br}} Event` oder `Contao Example {{br}}Event` eingeben.

[2018-03-22 09:41] fritzmg commented on #3561
Mehr oder weniger related: https://github.com/contao/core-bundle/pull/940

Für manche Elemente im Backend macht es sicher generell Sinn solche Informationen darzustellen. Eben die Start/Stop- als auch vielleicht die Wiederholungs-Einstellungen bei Events.

[2018-03-22 10:42] Misco commented on #8867
Mir ging es um das Verhalten der h2 in der fertigen Webseite, diese Verhält sich so Unterschiedlich je nach dem ob es mehr als den Teaser gibt oder nicht.

Contao
Example Event
Teaser
mehr>

Contao Example Event
Teaser

[2018-03-22 17:49] Aybee commented on #8867
Ich denke, du solltest das im Forum klären. Du hast noch nicht gesagt, welches Modul es betrifft und das mit der H2 und dem Teaser geht aus deinem ersten Post auch nicht hervor.

Achte aber schonmal darauf, dass du das Template `event_full` nur für den Reader und die anderen event_-Templates aus dem Core nur für die Liste nehmen kannst. Die Auswahl ist zwar leider möglich, aber es ist nicht gesagt

[2018-03-22 17:59] Aybee commented on #3561
Ja, genau. Die Listenansichten sollen ja nicht mit allen Infos des Datensatzes zugeballert werden, aber bestimmte Infos bieten sich an, dass man sie direkt in der Liste zeigt. So könnte ich z.B. nicht mehr darauf verzichten in der Listenansicht der Seitenstruktur sofort das gesetzte Layout zu sehen. Sonst müsste ich über "Mehrere bearbeiten" gehen, alles auswahlen, Seitenname und Layouts anhaken u

[2018-03-22 18:02] Aybee commented on #1175
The time will come ☺️

[2018-03-24 12:44] bekanntmacher commented on #8822
doch.
Nein, 2 Punkte: einen Punkt "Dateiverwaltung" und einen Punkt "Datei hochladen"

Ja, sauber trennen, würde ich auch begrüssen:
 1. Dateiverwaltung zu den Inhalten verschieben
 2. Darin nur Dateien ablegen welche Inhalte sind und von den Redakteuren bedient werden
 3. Alles Andere raus aus der Dateiverwaltung in einen eigenen Ordner

[2018-03-24 12:57] Aybee commented on #8822
IMHO zu viel Aufwand und ungeahnte Probleme, die damit auftreten könnten. Eigene Ordner geht ja bereits.

[code]

[2018-03-24 13:25] bekanntmacher commented on #8822
So ist es ja jetzt schon @Aybee . Dateien verwalten hat aber für die Redakteure nicht's mit System zu tun. Es ist einfach die Pflege von Inhalten.

Aktuell haben wohl die meisten ein Gemisch aus:
1. Medien (Bilder, Videos, Pdf's, etc.) = Inhalte
2. Css, js, etc. = Layout-Dateien
3. includes à la Yannik  = Eingebundene Dateien zu individuellen Zwecken

(Dann haben wir noch Templates im Template-Ord

[2018-03-24 13:47] do-while commented on #8822
Ich verstehe die Diskussion nicht so richtig, wie @Aybee oben geschrieben hat, kann ich für den Redakteurs-Login doch schon immer auswählen, was er sehen kann (z.B. ein Unterverzeichnis mit den Medien (Inhalten)). Du kannst doch eine Struktur aufbauen, wo genau Deinen Anforderungen mit erfüllt werden.
Oder soll der Admin seine Dateien, die keine Inhalte sind, nur noch per FTP pflegen können?

Ich

[2018-03-24 13:53] bekanntmacher commented on #8822
Es geht darum, dass die Dateiverwaltung nicht unter "System" sondern unter "Inhalte" erwartet wird.

[2018-03-24 14:01] do-while commented on #8822
Das war schon immer unter System und ich hatte bisher keinen Kunden, der sie nicht gefunden hat. Gerade Redakteure verwenden den Upload ja eher direkt im Dateipicker, so dass sie den Menüpunkt überhaupt nicht aufrufen. Wer denkt denn schon daran, vor dem Schreiben des Artikels die Bilder hochzuladen?

[2018-03-24 14:15] bekanntmacher commented on #8822
Ja, für Gewohnte ist es klar und wer sucht der findet alles irgendwo... doch auf dem Rechner sind die Dateien auch nicht unter den Systemeinstellungen zu finden.

[2018-03-25 07:31] aschempp commented on #8822
Auf macOS sind sie unter *Finder* und auf Windows unter *Arbeitsplatz*. Jedes System hat seine Eigenheiten, ich finde *System* überhaupt nicht falsch.

[2018-03-25 08:21] bekanntmacher commented on #8822
Aber bei keinem System sind sie unter den Systemsteuerungen zu finden. Es hat doch nichts mit dem System zu tun oder hat es das?

Für die Redaktoren sind hochgeladene Dateien ganz einfach Bestandteil vom CONTENT.

[2018-03-25 14:52] aschempp commented on #8822
Das wäre wohl Ansichtssache. Ich lade Dateien in das System 😛

Deinem Beispiel folgend ist **alles** Content. Die Seitenstruktur und das Theme sind auch Content. Mitglieder sind auch Content des Systems. Isotope erstellt einen eigenen Menüpunkt für seine Module, aber auch das ist Content.

Für mich gehört es in System, weil ich die Dateien in jedem Content-Modul (News, Artikel, Events, etc.) benut

[2018-03-27 07:58] may17 commented on #874
I could check this but isn`t it time to replace all the mootools stuff with preact or vue components for the next major release?

[2018-03-27 09:44] bekanntmacher commented on #8822
Das sehe ich überhaupt nicht so. Die Dateiverwaltung ist unter System schlicht am falschen Ort und am liebsten hätte ich sie (wie  ich eingangs gesagt habe) unter einem separaten Menüpunkt.

Unter System erwartet man die Dateiverwaltung nicht. Das Problem ist, dass du und alle die hier mit diskutieren sich scheinbar daran gewohnt haben und schlicht nicht in der Lage sind, sich von der Gewohnheit z

[2018-03-27 09:49] planepix commented on #8822
Und frei konfigurierbar machen? Zu hoher Aufwand? Zu viele Abfragen und Dinge zu berücksichtigen?

Dann jeder seine Sortierung einstellen, wie er mag.

Der Catalog Manager hat so etwas, womit man die Positionen bestimmen kann.

[2018-03-27 09:52] Toflar commented on #8822
Jeder kann die Reihenfolge und Labels bereits jetzt komplett frei anpassen. Dazu gibt es Hooks und Events. Die Flexibilität ist also bereits vorhanden. Sowas konfigurierbar zu halten (am besten noch pro User) ist einfach Arbeitsbeschaffung. Anders kann ich das nicht bezeichnen. Wir haben wichtigere Baustellen.

[2018-03-27 10:08] planepix commented on #8822
Da hast du wahr ;) @Toflar.
Zum Glück schreibt keiner ein Buch 😎

[2018-03-27 12:13] leofeyer commented on #874
Yes, but I was hoping we could implement drag and drop in the next minor version.

[2018-03-27 16:21] may17 commented on #874
Ok i will check that but i have to figure out how to work on contao 4.x core-bundle. Atm i`ve only had an docker image for extension development. Any suggestions? How did you core dev guys that?

[2018-03-29 14:45] leofeyer commented on #7358
Tritt dieses Problem in Contao 3.5 bzw. 4.4 noch auf?

[2018-03-29 20:11] Aybee commented on #7358
In ner 3.5.34 tritt dies noch auf. Dies liegt an max_input_vars, welches default auf 1000 steht. D.h. bei ca 5 Spalten und 200 Zeilen müsste dies auftreten.

[2018-03-29 20:46] ausi commented on #7358
Duplicate of #5954

See also: #7749, #7938, contao/docs#390

[2018-03-30 15:54] may17 commented on #874
With a little bit help from @Toflar (thanks a lot dude!) i`ve found a solution for core development for me. Is contao/core the right place for this ticket? Imho it should be placed to the core-bundle repo.

[2018-03-31 15:36] #7358 closed

[2018-03-31 15:37] leofeyer commented on #874
The pull request needs to go into `contao/core-bundle` please.

[2018-04-03 11:32] AlexanderPilhar commented on #8847
Ich beschäftige mich ebenfalls seit einiger Zeit mit der DSGVO und wie diese im Detail umsetzbar ist - und recherchiere eben gerade zum Thema Einwilligungserklärung zu Newslettern. Zumindest in Deutschland scheint einfaches Double Opt-In ohnehin schon längst nicht mehr zu genügen:

- [Abmahnungs-Abonnement: Wann Newsletter für den Anbieter zum Risiko werden](https://www.rgblog.de/newsletter-einwil

[2018-04-03 11:51] leofeyer commented on #8847
Ich denke nicht dass die beiden Artikel aus 2012 und 2015 in irgendeiner Form eine Aussage zur DSGVO beinhalten.

[2018-04-03 12:12] AlexanderPilhar commented on #8847
Ja, da muss ich zustimmen - der Kommentar bezog sich aber auch weniger auf die DSGVO, sondern vielmehr darauf, dass man eine Einwilligung nachweisen können muss (und mit DSGVO weiterhin muss) und Double Opt-In bislang scheinbar nicht ausgereicht hat.

Hier ist ein aktueller Artikel zum Thema:
[Einwilligung bei der DSGVO: Das Opt-In und Double-Opt-In Verfahren](https://www.lpsp.de/blog/einwilligung

[2018-04-03 15:09] elektrischerwalfisch opened #8869 "Variable für den Namen des Event-Archivs fehlt in den Event-Details"
Aktuell gibt es keine Möglichkeit sich bei den Event-Details (Template event_full.html5) über eine Variable den Namen des Archivs ausgeben zu lassen in dem sich das Event befindet. Man kann sich über  `<?php echo $this->pid ?>` zwar die ID des Archivs ausgeben lassen, aber nicht den Namen.
In der Eventliste (Template event_teaser.html5) ist das mit `<?php echo $this->calendar->title ?>` möglich, a

[2018-04-04 20:06] may17 commented on #874
Pull request is created here: https://github.com/contao/core-bundle/pull/1456

Preview video: https://drive.google.com/open?id=1NGwH-gCTpmEljNiYVpcoiR9jGpBkVkJE

[2018-04-05 17:54] aschempp opened #8870 "Placeholder does not work for TextArea"
the `<textarea>` widget does not show a placeholder. It can simply be added link in `TextField`: https://github.com/contao/core/blob/3.5/system/modules/core/widgets/TextField.php#L93

This applies to any version of Contao, including the latest one.

[2018-04-10 11:09] ScreamingDev opened #8872 "Check for GDLib with JPEG"
Contao surely checks if all php modules are available during installation and nags about it.
But just looking for GDLib is not the same as using gd for JPEG images, which can still fail.
Please check if gd is capable if editing jpeg, gif and png files during installatoin and warn about possible problems.

- GDLib is listed as mandatory but not in detail.
- Not blocking installation, just warn that

[2018-04-10 11:19] fritzmg commented on #8872
Contao does no such thing.

[2018-04-10 16:24] leofeyer commented on #1924
@contao/developers Ne Idee wie man das lösen könnte?

[2018-04-10 16:25] leofeyer commented on #2376
@contao/developers I would love to drop the `tl_member.gender` field in favor of a `tl_member.salutation` field. WDYT?

[2018-04-10 16:27] leofeyer commented on #2677
@contao/developers /cc

[2018-04-10 16:28] leofeyer commented on #5141
Since there will be no more feature releases for Contao 3, I'm closing this ticket.

[2018-04-10 16:28] #5141 closed

[2018-04-10 16:31] leofeyer commented on #6850
@Babelfisch Hat sich dieses Ticket mit Symfony Security (Contao 4.5) erledigt?

[2018-04-10 16:35] leofeyer commented on #7587
We now have Contao 4 and request scopes. @ausi Do you think this can be solved now?

[2018-04-10 16:39] Babelfisch commented on #6850
Kann ich leider nicht sagen, da ich noch bei der 3.5.x hänge.

[2018-04-10 17:08] zonky2 commented on #1924
inzwischen gibt es eine Erweiterung, die das lösen kann: https://github.com/cliffparnitzky/DirectContentElements

ggf. wäre das aber auch ein "Core-Feature"

[2018-04-11 06:33] aschempp commented on #6850
Ich denke das hat sich mit Contao 4.5/Sf Security erledigt.

[2018-04-11 06:34] aschempp commented on #7587
Only if all modules and content elements are rewritten…

[2018-04-11 06:36] aschempp commented on #2677
Haben wir das nicht auch bereits für Backend-Benutzer über entsprechende Gruppenberechtigungen gelöst? Könnte man für FE doch genauso tun?

[2018-04-11 06:37] aschempp commented on #2376
No way. You can add a salutation field, but you can't drop a gender. These are two completely different things! *Dr. Prof. Michaela Müller* is *Female*.

[2018-04-11 06:38] aschempp commented on #2376
Also, we can't do it right anyway. Extensive info (and why Isotope has a salutation field): https://www.w3.org/International/questions/qa-personal-names/

[2018-04-11 06:48] timgatzky commented on #6850
Nimm doch einfach die tl_session Tabelle und prüfe diese auf tstamp, sessionID und name=BE_USER_AUTH.
tstamp aktualisiert sich je Reload im Backend. tstamp + Systemeinstellung für die Session-Lease muss kleiner dem aktuellen unix timestamp sein.  Damit du ggf. nicht dich selbst identifizierst, muss die sessionID != deiner aktuellen php session_id sein.
Die pids sind dann die ids der angemeldeten B

[2018-04-11 06:55] leofeyer commented on #2677
Hab gerade festgestellt, dass wir das schon implementiert haben. 😄

<img width="416" alt="" src="https://user-images.githubusercontent.com/1192057/38600886-0b13ccaa-3d66-11e8-9643-41b84e7d7be1.png">

[2018-04-11 06:55] #2677 closed

[2018-04-11 06:57] #6850 closed

[2018-04-11 07:09] leofeyer commented on #8804
Does this issue still occur in Contao 4.5 now that we have header replay?

[2018-04-11 08:55] Toflar commented on #2376
I understand the question. Gender is being dropped in favour of a general salutation field very often these days because there are a growing number of people that aren't female nor male. So from a diversity point of view I definitely support this.

I just don't think dropping gender really makes sense. It's optional anyway so maybe just having an additional salutation field covers all use cases.

[2018-04-11 09:25] bytehead commented on #6850
`tl_session` gibts in Contao 4.5 nicht mehr.

[2018-04-11 09:51] leofeyer commented on #2244
Changed in contao/comments-bundle@cbd709d3887377f0cfa1e923b1ad30ddf2a1798c.

[2018-04-11 09:51] #2244 closed

[2018-04-11 10:02] leofeyer commented on #7728
Entfernt in contao/core-bundle@8e5e16687212a22a9bd32aaed8d99b87722f1793.

[2018-04-11 10:02] #7728 closed

[2018-04-11 11:48] timgatzky commented on #6850
Babelfish ist in 3.5. In 4.5 kann laut Andreas Symphony selbst genutzt werden.

[2018-04-11 11:52] fritzmg commented on #8804
No, this issue does not occur in Contao 4.5.

[2018-04-11 11:57] Babelfisch commented on #6850
Ich nutze ja mittlerweile auch tl_session. Mir ging es hier aber ursprünglich um eine von Contao bereitgestellte Möglichkeit, um ebene bei genau solchen Änderungen wie von 3.x auf 4.x nicht die komplette Authentifizierung umstellen zu müssen. Da es aber für die 3.x nun ehe keine Änderung mehr gibt und es bei der 4.5 ja (vermutlich) eine Möglichkeit gibt, brauchen wir das nicht weiter vertiefen. Tr

[2018-04-11 12:12] leofeyer commented on #8804
Ok, then I'm closing the issue. We cannot really fix it in Contao 3.5.

[2018-04-11 12:12] #8804 closed

[2018-04-12 08:43] #8867 closed, assigned to nobody

[2018-04-12 08:47] leofeyer commented on #8872
@ScreamingDev Can you please elaborate?

[2018-04-12 13:34] leofeyer commented on #8822
Wie am 12. April auf Mumble besprochen ist es tatsächlich nicht intuitiv, dass sich die Dateiverwaltung unter "System" befindet. Besser wäre es vermutlich in einer eigenen Gruppe.

Allerdings wollen wir das erst ändern, wenn wir das Backend-Redesign angehen, da sonst die ganze vorhandene Doku nicht mehr stimmt.

[2018-04-12 13:34] #8822 closed

[2018-04-12 14:33] leofeyer commented on #8375
Wie am 12. April auf Mumble besprochen, wollen wir diese Lösung, selbst wenn sie das Problem nur für zukünftige und nicht für bestehende URLs lösen kann.

[2018-04-13 03:58] discordier commented on #8872
@leofeyer I guess he has PHP with gd but compiled it without `--with-jpeg --with-gif --with-png` or at least one of them is missing.

Hence he has gd loaded but it can not open his files and is getting a fatal then.

[2018-04-15 12:10] goransl opened #8873 "Wrong assets and files loading when disabling page alias usage"
Hello, I am using Contao 3.5.3 and I want to change my site to use engine friendly urls. I have enabled Rewrite URLs, disabled Disable page alias usage in Front end configuration settings and created default .htaccess file.

When I load my page with single url parameter (mysite.com/home), everything works fine, as it's loading assets and files from correct location (mysite.com/assets, mysite.com/f

[2018-04-15 13:20] ausi commented on #2376
I think I’m in favor of dropping the gender field. Aren’t the use cases, where I need to know the gender of a member, very rare anyway?

If we keep the gender field, we should probably add the third gender “other”.

[2018-04-15 16:38] xchs commented on #8873
These kinds of questions should be posted on the [community forum](https://community.contao.org).

[2018-04-15 18:31] #8873 closed, assigned to nobody

[2018-04-16 06:20] aschempp commented on #2376
I need them a lot. And more importantly there are thousands of sites that currently have that field in use, you can' just drop it.

[2018-04-17 08:03] leofeyer commented on #8864
Did anyone test this?

[2018-04-17 14:37] leofeyer commented on #8869
Implementiert in contao/calendar-bundle@46c09ea73576c1bd0a560ae74f94b7c1fa1115aa.

[2018-04-17 14:37] #8869 closed, assigned to leofeyer

[2018-04-17 15:34] leofeyer commented on #8870
Fixed in 04af3d18e3641f05927796e7c211b8af575fa8d6.

[2018-04-17 15:34] #8870 closed, assigned to leofeyer

[2018-04-17 15:45] leofeyer commented on #8868
IMHO, `$blnRecordExists` should simply be replaced with `\Config::get('autologin') > 0` (see `FrontendUser::login()`.

@aschempp What is the case in which we have to check `$this->intId > 0`?

[2018-04-18 07:00] aschempp commented on #8868
We're using that in Contao 4 to determine if a user is loaded.
 - https://github.com/contao/core-bundle/blob/4.5/src/Resources/contao/library/Contao/User.php#L225
 - https://github.com/contao/core-bundle/pull/1477/files#diff-b5f5d2dd78f20df363e462370be2c122R552

[2018-04-18 13:28] birdmedia opened #8874 "Increasing spam despite spam protection / security question"
It seems like the standard spam protection "security question" can easily be solved by current (mainly russian) spam bots. The standard captcha function should therefore be replaced or at least the currently used operations should be modified.

[2018-04-18 13:57] fritzmg commented on #8874
According to forum reports this also affects the honeypot captcha in Contao 4.4. Despite the honeypot being present, a lot of spam goes through. Though I have not yet witnessed that myself.

[2018-04-18 19:32] ausi commented on #8874
@birdmedia which version of Contao do you use?

[2018-04-18 21:03] birdmedia commented on #8874
The problem mainly occurs in Contao 3.5.3X

[2018-04-19 15:21] ghost commented on #8874
We observe the same in a few contact forms (3.5.3x) since about 2 months. I don't think there is a reliable general solution. For some cases, we have specific anti-spam code added via the prepareFormData hook - for example see https://wiki.fleckwerk.de/doku.php/contao/schnipsel/form_spam_russian
As far I remember, a simple honeypot (extra field hidden by external css) did not work.

[2018-04-19 17:24] robert-scheck opened #8875 "Contao 3.5.x (LTS) doesn't handle dbSqlMode correctly when dbPconnect is used"
In MariaDB 5.5.x, `SQL_MODE` was not set by default. Since MariaDB 10.1.x, `SQL_MODE` is set by default to `NO_ENGINE_SUBSTITUTION,NO_AUTO_CREATE_USER` or with MariaDB 10.2.x `SQL_MODE` is even set to `NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO` (see https://mariadb.com/kb/en/library/sql-mode/ for details).

In theory, Contao properly sets `SQL_MODE`

[2018-04-19 19:33] frontendschlampe commented on #8874
using madeyourday/contao-rocksolid-antispam will help to reduce the spammails

[2018-04-24 08:15] backbone87 commented on #3162
i agree with @Toflar -> we should somehow facilitate knp menu, since we already use it in the BE. the question is how we handle twig templates in the FE?

the codebase for my navigation is stable but somewhat dated. so a little bit of polishing isnt enough imho.

[2018-04-27 11:11] leofeyer commented on #8375
Implementiert in 20b28a9b3ddda95db4d3cc73f2db39823abdd36f.

[2018-04-27 11:11] #8375 closed

[2018-04-27 11:13] leofeyer commented on #8375
Implementiert in contao/core-bundle@399bfe659b9852c17c38c26115ef771fc233f8df.

[2018-04-29 12:45] iosis101 commented on #6827
Das gleiche Problem besteht wieder bei Contao 4.

[2018-04-29 13:58] xchs commented on #6827
@iosis101 Welche Contao-Version genau? Unter Contao 4.4.18 kann ich es jedenfalls nicht reproduzieren. Das Datum wird korrekt als Timestamp in der entsprechenden Tabellenspalte gespeichert.

[2018-04-29 20:33] Aybee commented on #6827
@xchs Ja, kann ich auch bestätigen.

[2018-04-30 17:19] iosis101 commented on #6827
4.4.18 Ich brauche um ein Event über Frontend zu speichern das Startdatum sowie die Start -und Endzeit. Das Datum ist kein Problem. Es wird per Datumsfeld auch als timestamp in der DB gespeichert. 1A. Die Zeit Das Problem liegt bei der Uhrzeit. Sie lässt sich nicht als timestamp speichern. Zumindest wüsste ich nicht wie.

UPDATE: danke closed.

[2018-04-30 17:48] fritzmg commented on #6827
Zeit = Datum + Zeit.

[2018-05-02 09:53] Z3NOX opened #8876 "Dublicate Hash entry in tl_newsletter_blacklist"
Hi,
ich sehe ein Problem beim Austragen der Mails aus dem Newsletter.

- Angenommen ich habe zwei Newsletter eingerichtet (ID: 3,  5)
- ich trage eine Mail in Newsletter1 ein (PID 3)
- ich trage mich aus Newsletter1 wieder aus -> es wir ein Eintrag in tl_newsletter_blacklist angelegt, der mit der PID auf Newsletter1 verweist.
- nun trage ich die selbe Mail in Newsletter2 (PID 5) ein.
- will ich di

[2018-05-07 14:07] JLBA opened #8877 "Add from and until fields for featured news"
Hi everyone,

Feature option is oftenly used to display news on the homepage  for a limited time. After it is no more a news, it can continue to be displayed in news page but no more on the homepage.

For the moment, It must be manually unchecked. I suggest there could be "from" and "until" dates specifically for feature option.

Thanks.

[2018-05-11 07:34] kubjo opened #8878 "4.5.8 Zweiter, eigener Layoutbereich wird nicht angezeigt"
Nach den Update auf 4.5.8
erscheint ein zweiter eigener Layoutbereich nicht mehr im Quellcode.
Unter 4.5.6 war es noch so:
[code]
Nach dem Update fehlt:
`<div id="zweiter_eigener_Layoutbereich">...</div>`
komplett.

[2018-05-11 07:56] leofeyer commented on #8878
Das liegt vermutlich an den Änderungen aus contao/core-bundle#1115. @frontendschlampe /cc

[2018-05-14 06:12] frontendschlampe commented on #8878
Naja, es sollte eigentlich nicht der Fall sein, wenn beide Layoutbereiche Inhalte haben. @kubjo wie und wo hast du die Layoutbereiche eingelegt? Haben beide Inhalt?

[2018-05-14 06:49] kubjo commented on #8878
Der Erste beinhaltet die Navi, der zweite hat keinen Inhalt. Der zweite dient in meinem Fall als leerer Bereich, der den Hintergrund sichtbar macht. Zu sehen hier: [https://www.wernerottens.de](https://www.wernerottens.de)  Habe inzwischen ein Leerzeichen als HTML Code eingefügt und dadurch den Layoutbereich wieder "hergezaubert".  Wenn das so gewollt ist, dass der Layoutbereich nicht erscheint, w

[2018-05-14 06:52] frontendschlampe commented on #8878
ja ... das habe ich mir gedacht. ;-) Das ein leerer Layoutbereich angezeigt wird, haben wir in https://github.com/contao/core-bundle/issues/1115 geändert, weil es ein Bug ist. Es sollten natürlich nur Layoutbereiche mit Inhalten angezeigt werden und dann auch nur der entsprechende Layoutbereich und nicht alle anderen einfach mit.

[2018-05-14 06:55] kubjo commented on #8878
Ja, ok! War nur ein bissle verwirrend, dass der plötzlich verschwunden ist. Gibt es eine elegantere Möglichkeit, als CE Text mit Leerzeichen, diesen dauerhaft sichtbar zu machen? Ich verwende diese Möglichkeit bei mehreren Seiten.

[2018-05-14 07:01] frontendschlampe commented on #8878
Jo, kein Problem.

Also eine Idee wäre mit einem ```::before``` oder ```::after``` zu arbeiten oder die ```fe_page.html5``` anzupassen. Du könntest aber auch ein eigenes ```block_section_XXX.html5``` Template anlegen und beim entsprechenden Layoutbereich dann auswählen.

Semantisch ist es nicht unbedingt sinnvoll, HTML-Quellcode nur zur Ausschmückung zu benutzen.

[2018-05-15 08:24] de-es commented on #8876
Kann ich bestätigen (4.4.18). Ändern des Index auf `hash` von unique auf key oder entfernen löst das Problem auf den ersten Blick.

[2018-05-16 07:31] eki89 opened #8880 "Not possible to disable an included module in a layout"
Hey everyone,

i have just seen that it is not possible to disable/enable an included frontend module in layouts. The visibility toggle buttons switchs to grey, but after a reload of the layout dataset the buttun is still green/enabled. I've checked the requests while pressing the button, but only the svg image is loaded. An AJAX request wont be performed.

[2018-05-16 07:57] kikmedia commented on #8880
Did you save the layout after toggling the icon?

[2018-05-16 08:15] fritzmg commented on #8880
I can confirm the issue.

You shouldn't have to do that, since you do not have to do that anywhere else? Or is it deliberate in this case?

[2018-05-16 08:45] xchs commented on #8880
See the comments in ticket https://github.com/contao/core/pull/5558

[2018-05-16 08:56] fritzmg commented on #8880
The comments in the ticket don't explain the behaviour though.

[2018-05-16 10:42] xchs commented on #8880
Turn off JavaScript and you will see the difference ;)

The enable/disable toggle in the page layout is implemented with a checkbox (hidden when JavaScript is on) and gets triggered by the eye icon. The status of all other visibility togglers is written directly to the database though.

[2018-05-16 10:49] fritzmg commented on #8880
Ah ok :). Still a little unintuitive though.

[2018-05-17 09:21] leofeyer commented on #8880
You have to.

True.

[2018-05-17 09:21] #8880 closed, assigned to nobody

[2018-05-17 10:00] #8878 closed, assigned to nobody

[2018-05-17 10:11] ghost commented on #8876
Das Ticket wurde nach contao/newsletter-bundle#21 verschoben.

[2018-05-17 10:11] #8876 closed, assigned to nobody

[2018-05-17 11:54] leofeyer commented on #8875
Contao 3.5 is in the last phase of its release cycle and no longer receives bug fixes unless they are security related.

[2018-05-17 11:54] #8875 closed, assigned to nobody

[2018-05-17 13:20] leofeyer commented on #8874
@birdmedia Can you provide an affected installation where we can analyze the log files?

[2018-05-17 17:04] birdmedia commented on #8874
Unfortunately, we removed every existing log file and disabled the creation of new log files (via chmod) due to GDPR compliance.

[2018-05-18 11:08] cmeis commented on #8847
Mindestens ein Problem bleibt mit dem "normalen" Contao-Newsletter aber bestehen:
Wenn ein Abonnent den Newsletter abbestellt, wird der Eintrag aus der Tabelle entfernt. Dir fehlt also ab diesem Zeitpunkt der Nachweis, dass in der Vergangenheit (bis zum Abbestellen) eine Einwilligung vorgelegen hat.
Wenn Dich der Empfänger also NACH seiner Abmeldung dazu kontaktiert, hast Du keine Info mehr (außer

[2018-05-20 07:28] jankout commented on #7825
@leofeyer when do you want to implement it? I think it would be very useful feature.

[2018-05-28 09:38] Shoekrates opened #8881 "Generate search index in multipage installations"
If you have multiple websites in one contao installation you can only generate the complete search index for all pages but not for one particular pagetree alone.
Could be a handy feature to set the starting page before generating the search index.

[2018-05-28 19:15] Mynyx opened #8882 "[3.5.35] Mehrere löschen bei hoher Datensatzanzahl nicht erfolgreich"
In den Einstellungen unter "Maximum Datensätze pro Seite" habe ich 5000 konfiguriert.
Anschließend habe ich im Modul Newsletter die Abonnentenliste eines Newsletters aufgerufen und bei Anzeige "Alle" ausgewählt, sodass 5000 Abonnenten angezeigt werden. Dann habe ich "Mehrere bearbeiten", "Alle auswählen" und "Löschen" angeklickt.
Die Abonnentenliste wird anschließend neu geladen - es wurden jedoch

[2018-05-28 20:18] Mynyx opened #8883 "[3.5.35] Newsletter-Verteiler bearbeiten: Änderungsdatum fehlerhaft dargestellt"
Bei einem Newsletter-Verteiler ist als tstamp 1423317420 gespeichert. In der Detailansicht des Verteilers (Blaues Icon) wird als Änderungsdatum korrekt 07.02.2015 14:57 angezeigt.

In der Ansicht Verteiler bearbeiten (Stift Icon) wird stattdessen jedoch als Änderungsdatum fehlerhaft 02.05.2015 15:47 angegeben.

[2018-05-29 04:40] Samson1964 commented on #8882
Solche Aufgaben würde ich eher in phpMyAdmin erledigen, anstatt ein CMS, wo viel "unnützes Zeug" drumherum noch geladen wird, zu benutzen. Ein einfaches Tabelle leeren - falls Du alle 70.000(?) Abonnenten gleichzeitig löschen willst - hätte nur Sekundenbruchteile dort gedauert.

[2018-05-29 07:50] fritzmg commented on #8882
@Mynyx sicher dass nicht zumindest 1000 gelöscht wurden? Für so eine Operation muss die PHP Variable `max_input_vars` auf mindestens `5000` (plus ein paar mehr für hidden form fields etc.) stehen. Default ist `1000`.

[2018-05-30 15:04] JLBA commented on #8816
Contrary to Leo, I think users need to see anytime what they can do and catch buttons quickly (one click). Hiding buttons in one dropdown menu can be a solution on smartphones. On computers or tablets, it's just a foolish search of absolute flat purity design initiated by Apple (followed by Google) who was better inspired in 1984 ;-)

[2018-05-31 00:03] Aybee commented on #8700
In Contao 3 kann man den `getImage` HOOK als Workaround benutzen.
[code]
Die Logik kann man noch an seine Bedürfnisse anpassen. Ich benutze in obigem Fall nur Bildgrößen und teste, ob die Zielbreite größer wäre als die Originalbreite UND die Zielhöhe größer als die Originalhöhe. In diesem Fall sende ich den Pfad zum Originalbild zurück.

[2018-05-31 22:24] Aybee commented on #8882
Ja, aber dazu sollte man schon etwas mehr über die Strukturen wissen. Nur mal als Beispiel. Wenn du im Contao BE 1000 Seiten löschst, werden z.B. auch alle auf diesen Seiten enhaltenen Artikel und deren Inhaltselemente gelöscht. Wenn du dies über phpMyAdmin machst, hast du jede Menge Daten-Leichen in tl_article und tl_content.

[2018-06-01 16:50] Mynyx commented on #8882
@fritzmg Nein, es wurden keine Datensätze gelöscht.

[2018-06-02 07:52] fritzmg commented on #8882
Nichtsdestotrotz musst du `max_input_vars` erhöhen.

[2018-06-07 13:20] fatcrobat opened #8885 "Provide custom attribute with setter/getter to use as custom returnPath (Bounce Return E-Mail )"
Current implementation of `Email::sendTo()` does not give you any chance to modify the Bouce-Mail returnPath. It would be great if you can provide an public setter and getter to modify a new property named `returnPath`.

https://github.com/contao/core/blob/4539b50fd849dda41c58cdf0da2230dffd909c94/system/modules/core/library/Contao/Email.php#L494

`sentTo` could be changed to:
[code]

[2018-06-11 08:29] leofeyer commented on #8883
Funktioniert in der Online-Demo einwandfrei.

[2018-06-11 08:43] leofeyer commented on #8885
See contao/core-bundle#1543.

[2018-06-11 08:43] #8885 closed, assigned to nobody

[2018-06-11 08:44] leofeyer commented on #8885
Contao 3 is in the "security fixes only" phase of the long term support phases, so we will not add new features or fix non-security bugs anymore.

[2018-06-12 15:57] leofeyer commented on #8847
Und was speichert ihr in der separaten Tabelle?

Der Abonnent hat ja das Recht auf Löschung der personenbezogenen Daten, daher darf man ab dem Zeitpunkt des Abbestellens weder die IP-Adresse noch die E-Mail-Adresse weiterhin speichern. Wie also soll der Nachweis erfolgen?

Gibt es eine gesetzliche Vorschrift zur Speicherung der Opt-In-Daten? Oder eine Regelung wie lange man ein erfolgtes Opt-In na

[2018-06-13 06:59] cmeis commented on #8847
In der Tabelle stehen "natürlich" die wichtigsten Eckdaten, also Timestamp, Mailadresse und IP. Das ganze Thema ist in der Tat etwas "grau".

Unser Kunde möchte sich ggf. gegen unberechtigte Beschwerden wehren können (ich konstruier mal: ich melde mich ab, und beschwer mich direkt danach über den letzten erhaltenen Newsletter; es soll der Nachweis möglich sein, dass zum Zeitpunkt des Versandes der

[2018-06-13 08:37] leofeyer commented on #7825
Does contao/calendar-bundle#32 solve your issue?

[2018-06-13 08:41] jankout commented on #7825
Thank you. I hope so. At the moment I cannot try it - I don't know how to do it. ;-) In general it would be great to have the similar logic and argument/command like we have it in the news module.

[2018-06-14 08:50] leofeyer commented on #7825
See contao/calendar-bundle#32.

[2018-06-14 08:50] #7825 closed

[2018-06-14 08:52] jankout commented on #7825
Thank you very much.

[2018-06-14 09:02] JLNNN commented on #8718
This problem is still happening - is anyone able to help me?

[2018-06-14 09:34] fritzmg commented on #8718
You need to post on the forum.

[2018-06-14 09:44] leofeyer commented on #8882
@Mynyx Hast Du versucht, ob `max_input_vars` das Problem behebt?

[2018-06-14 11:25] LBeckX opened #8886 "Mitglieder Registrierung - Bug - doppelt E-Mail mit ".""
Hi,

habe folgendes Problem in Contao 4.4
sobald ein Mitglied sich bereits registriert hat und sich ein Punkt in der E-Mail-Adresse befindet, wird das Registrierungs-Formular nicht mehr mit Inhalten gefüllt und es erscheint auch keine Fehlermeldung.

Ich kann leider nicht ganz ausschließen, dass es nicht nur an meinen Extensions liegt.

Informationen:
* Contao 4.4.18
* Beispiel-E-Mail: `mr.x@web.d

[2018-06-14 12:32] fritzmg commented on #8886
Teste es zuerst mal ohne
[code]

[2018-06-15 06:09] aschempp commented on #8882
An option would be to limit the number of available checkboxes/multi-edit-fields based on the `max_input_var` setting, but that seems pretty advanced for a very rare use-case …

[2018-06-15 13:09] leofeyer commented on #8886
Oder teste es mal in der Online-Demo: https://demo.contao.org/contao

[2018-06-16 13:46] ausi commented on #7169
I created a pull request for this feature: contao/core-bundle#1568

@frontendschlampe what do you mean regarding `target="_blank"`?

[2018-06-18 05:27] LBeckX commented on #8886
Ok, scheint ein selbst verursachtes Problem zu sein.
Das nächste Mal teste ich gleich in der Demo ^^
Sorry!

[2018-06-18 05:27] #8886 closed, assigned to nobody

[2018-06-18 13:32] leofeyer commented on #8868
@lindesbs Does this issue occur in Contao 4 as well?

[2018-06-18 14:08] lindesbs commented on #8868
Not yet tested

[2018-06-19 12:32] #7169 closed

[2018-06-26 15:34] leofeyer commented on #2533
Siehe #244.

[2018-06-26 15:34] #2533 closed

[2018-06-26 15:36] leofeyer commented on #244
@contao/developers Kind of an old ticket, but we have never discussed it, have we?

[2018-06-27 06:49] Toflar commented on #244
I never ever use the newsletter bundle so I don't really care about this. But if it's easy then why not.

[2018-06-27 06:52] leofeyer commented on #244
It shouldn't be too hard, however, I have checked 20 popular websites that offer newsletter subscriptions and none of them had a combined subscribe/unsubscribe form. I therefore think we should keep the modules separate.

[2018-06-27 09:50] ghost opened #8887 "Copy/paste a content element from articles to news (as a user)"
Hi there.
We need the copy/paste function in the BE very often. So our clients do.
Now - there is a problem when you wants to copy a content element from a standard article into a news article.
Just an administrator can copy/paste an content element.
If you are loggged in as a user it always comes an error if you want to copy/paste from articles to news.
We tried it with a user with all rights in

[2018-06-28 11:01] fritzmg commented on #8887
Possibly related: https://github.com/contao/news-bundle/pull/38

[2018-06-28 11:24] dmolineus commented on #8887
It's a [known limitation](https://github.com/contao/core/blob/3.5/system/docs/LIMITATIONS.md#moving-content-elements-as-non-admin-user) of Contao that it does not work. The PR @fritzmg linked won't fix it.

[2018-06-28 11:29] #8887 closed, assigned to nobody

[2018-06-28 17:43] Mynyx commented on #8883
Ich habe mir das nun noch einmal genauer angesehen. In der Ansicht Verteiler bearbeiten (Stift Icon) wird das Änderungsdatum offenbar über folgende SQL-Abfrage ermittelt: ````SELECT MAX(tstamp) AS tstamp FROM tl_newsletter WHERE pid='1'````. Dies ergibt als Ergebnis das letzte Änderungsdatum der Newsletter in dem Newsletter-Verteiler. Dadurch unterschiedet sich das angezeigte Datum dann von dem Än

[2018-07-02 14:28] leofeyer commented on #8847
Wir haben die nach aktuellem Kenntnisstand notwendigen DSGVO-Änderungen implementiert (siehe https://github.com/contao/core-bundle/issues/1512#issuecomment-401007331). Die Speicherung der Daten in einer separaten Tabelle, aus der sie trotz Beendigung des Abonnements nicht gelöscht werden, ist rechtlich höchst bedenklich und wird daher von Contao nicht unterstützt.

[2018-07-02 14:28] #8847 closed, assigned to nobody

[2018-07-03 15:52] leofeyer commented on #8816
Changed in contao/core-bundle@bfe804eb96b5655bc34d75cce97e950022713981 then.

[2018-07-03 15:52] #8816 closed

[2018-07-04 00:05] skolarianer opened #8888 "Das autologin-Token sollte gehasht in tl_member gespeichert werden"
Das autologin-Token wird derzeit (Contao 3.5.35) im Klartext in tl_member gespeichert. Da mit diesem Token der Zugriff auf Nutzerkonten möglich ist, ist es IMHO als passwort-ähnlich einzustufen und sollte auch entsprechend behandelt werden.

Folgende PRs habe ich zu dem Thema gefunden:
https://github.com/contao/core-bundle/pull/481
https://github.com/contao/core-bundle/pull/685

Als Zwischenlösung

[2018-07-05 14:02] leofeyer commented on #8888
Wie im Mumble am 5. Juli besprochen, wird @aschempp ein Ticket bei Symfony erstellen und die Problematik schildern, um herauszufinden, ob Symfony dieses Problem ebenfalls hat.

[2018-07-05 14:08] leofeyer commented on #8888
Das Problem würde dann auch alle anderen Tokens betreffen (activation, subscription etc.).

[2018-07-05 15:34] ausi opened #8889 "Remove support for deprecated user password hashes"
We should remove support for sha1 passwords in https://github.com/contao/core/blob/4539b50fd849dda41c58cdf0da2230dffd909c94/system/modules/core/library/Contao/User.php#L383-L388

If someone gets read access to the database, they could brute-force the password of a backend user that has still a sha1 password hash. With the password they could then overtake the server.

Removing support shouldn’t be

[2018-07-05 23:53] rburch commented on #8881
I agree. It would especially be useful if you have a really big site and then go live with a smaller one. You won't have to go back and re-index 1000s of pages just to index a 10 page site. I actually hit this issue on a multi-site for one of my clients.

[2018-07-06 00:00] rburch opened #8890 "Image link overide metadata."
Not sure if this would be useful to others or not, but a couple times I've come across needing to re-enter the alt-tags I have set up in the file manager because I want to make an image link in a content element. I think it would be helpful for the overide fields to only overide the fields that are filled in, if not use the data from the file manager. That way you could link an image without havin

[2018-07-06 01:49] asaage commented on #8890
This will prevent you from clearing individual fields and it will not happen in contao3.
Related issues are: https://github.com/contao/contao/issues/6374 & https://github.com/contao/contao/issues/6369.

[2018-07-06 08:39] leofeyer commented on #8889
I have created a PR for Contao 4.6 here: contao/core-bundle#1602

[2018-07-09 14:07] leofeyer commented on #8888
Symfony scheint das RememberMe-Token bereits zu hashen, somit müssen wir uns ab Contao 4.5 nur noch um unsere eigenen Token kümmern.

@contao/developers Was hatten wir nochmal besprochen bezüglich Hashing mit dem Secret?

[2018-07-09 14:11] Toflar commented on #8888
Ich würde das Secret zusätzlich zum Hash hinzufügen. Einfach weil das nochmal einen Sicherheitsfaktor mehr gibt. Also wenn man die DB und die Hashes hat, könnte man theoretisch ja  (z.B. durch zugegeben ziemlich aufwändigem Rainbow-Table-Gedöns) das gültige Token finden. Mit dem Secret hätte man eine 2. Unbekannte und es wäre daher eigentlich unmöglich.

Also so:

[code]

[2018-07-09 15:20] ausi commented on #8888
Anstatt das Secret anzuhängen sollten wir wahrscheinlich besser eine hash Funktion verwenden die dafür vorbereitet ist wie `hash_hmac()`.

Z. B. so wie wir es im Captcha-Cookie gemacht haben: https://github.com/contao/core-bundle/blob/d43ecb77af384633334a6c296d3f3db3e502df18/src/Resources/contao/forms/FormCaptcha.php#L173

[2018-07-09 15:21] Toflar commented on #8888
Yes 👍

[2018-07-10 07:37] aschempp commented on #8888
See https://github.com/symfony/symfony/issues/27910

[2018-07-10 07:41] aschempp commented on #8888
Diese Aussage ist übrigens nicht korrekt, das Token wird aus einem Hash generiert, aber das Cookie und die DB enthalten denselben Hash (bzw. random bytes).

[2018-07-10 08:27] leofeyer commented on #8888
Bei mir nicht?

[2018-07-10 11:00] aschempp commented on #8888
Das Cookie enthält eine Kombination von Series und Token (https://github.com/symfony/symfony/blob/master/src/Symfony/Component/Security/Http/RememberMe/PersistentTokenBasedRememberMeServices.php#L115), aber der Token-Wert ist derselbe wie in der DB.

[2018-07-10 11:59] leofeyer commented on #8888
Nein, bei mir nicht.

Cookie-Wert: `dStXenBqKzdMOFZXbk5BWUxLSkJyMDFUZjNNb1BiVkRIUnJ2T2k…`
DB-Series: `u+Wzpj+7L8VWnNAYLKJBr01Tf3MoPbVDHRrvOi4c…`
DB-Value: `qzI+Ia9lMYBtt08gkFmI778OYaVyHjcaUBkjnHL`

[2018-07-10 13:15] aschempp commented on #8888
Hast du meinen Kommentar bzw. den Code gelesen?
Cookie-Wert = base64 implode von series + token

[2018-07-10 13:54] leofeyer commented on #8888
Ja, bei mir auch. 😄

[2018-07-10 15:04] leofeyer commented on #8868
@lindesbs Do you have time to check? If it occurs in Contao 4 as well, we have to fix it.

[2018-07-10 15:05] leofeyer commented on #8864
@contao/developers /cc

[2018-07-10 15:05] #8863 closed, assigned to nobody

[2018-07-10 15:06] #8855 closed, assigned to nobody

[2018-07-10 15:11] leofeyer commented on #2769
@ausi Are you going to supply the gist?

[2018-07-10 17:32] lumas-consulting commented on #8864
as far as I am concerned it worked in safari, firefox and chrome in osx environment.

[2018-07-10 21:33] ausi commented on #2769
I think it is enough if @taca checks if the following example was split correctly:

セキュリティ上の理由のため、ここでは以下の文字は使用できせん split into the following words:

- セキュリティ
- 上の
- 理由
- の
- ため
- ここ
- では
- 以下
- の
- 文字
- は
- 使用
- でき
- せん

But I can also provide the gist if desired ☺️.

[2018-07-10 22:24] taca commented on #2769
How about small fixed sentence?

セキュリティ上の理由のため、ここでは以下の文字は使用できません。

[2018-07-11 05:22] ausi commented on #2769
“セキュリティ上の理由のため、ここでは以下の文字は使用できません。” would get split into these words:

- セキュリティ
- 上の
- 理由
- の
- ため
- ここ
- では
- 以下
- の
- 文字
- は
- 使用
- でき
- ま
- せん

[2018-07-12 14:10] taca commented on #2769
Thanks!

I belive that it produces much better search index for Japanese.  And for more better result,
morphological analysis is required to parse (and there are Open Source libraries for Japanese).
But such morphological analysis methods should be provided as extension.

[2018-07-16 13:32] leofeyer commented on #8890
The same applied to Contao 4, too. I will therefore close the issue.

[2018-07-16 13:38] #8890 closed, assigned to nobody

[2018-07-17 07:11] lindesbs commented on #8868
Obviously no further impact

[2018-07-17 07:47] leofeyer commented on #8868
I still think we should fix this if we implement #8888.

[2018-07-31 14:09] HaraldHubinger opened #8893 "PHP 7.2 compatibility issue in MemberGroupModel.php"
In Contao 3.5.35 upon upgrade to PHP 7.2 the frontend shows this warning:

Warning: Use of undefined constant BE_USER_LOGGED_IN - assumed 'BE_USER_LOGGED_IN' (this will throw an Error in a future version of PHP) in system/modules/core/models/MemberGroupModel.php on line 83

fixable by replacing line 83 in MemberGroupModel.php
`if (!BE_USER_LOGGED_IN)`
with
`if (!defined('BE_USER_LOGGED_IN'))`

Bei

[2018-07-31 17:54] leofeyer commented on #8893
Compatibility issues are not security-related, either, so this will not be fixed anymore.

[2018-07-31 17:54] #8893 closed, assigned to nobody

[2018-08-08 22:15] CMSworker commented on #7988
3 years later now... I think this "issue" could be reopened now for Contao 4.6/4.7?

I stumbled upon this script on a gallery page with over 250 thumbnails... and think the many added script lines are ...well ...MANY MANY additional code lines ("don't repeat yourself" came to my mind :wink: )

[https://caniuse.com/#feat=picture](https://caniuse.com/#feat=picture)

IE was "replaced" by Edge in 2015

[2018-08-08 22:37] Metis77 commented on #7988
@CMSworker maybe this helps for now: https://github.com/derhaeuptling/contao-lazy-images .
This Repo also contains the performance improvements I suggested above.

[2018-08-09 04:24] ausi commented on #7988
I agree. We can remove the script now from the *picture_default.html5* template.

[2018-08-09 07:21] fritzmg commented on #7988
The script is only needed anyway if you enable the polyfill in the page layout. May be the script should be wrapped in an
[code]
where we check whether the polyfill is actually enabled? Though that would cause a lot of PHP checks on pages with a lot of images of course.

[2018-08-09 07:59] Metis77 commented on #7988
I would favor to remove it completely.

[2018-08-09 09:14] leofeyer commented on #7988
@ausi Do we need to backport this to Contao 4.4 as well?

[2018-08-09 11:27] leofeyer commented on #7988
Removed in contao/core-bundle@9fb933881b1e2da6c71e6de3dab3df9c2f161ee7.

[2018-08-09 11:27] #7988 closed

[2018-08-09 13:24] akroii commented on #4583
Mittlerweile gibt es einige Ergebnisse bei Google die ebenfalls danach suchten.
Wäre es nicht doch irgendwie möglich, zumindest für 4.x? 😉

[2018-08-09 13:55] fritzmg commented on #4583
Wenn dann sollte das imho in der Dateiverwaltung gemacht werden, nicht direkt im Download Inhaltselement, damit man auch im Download**s** Inhaltselement die Möglichkeit hat Vorschaubilder anzeigen zu lassen.

[2018-08-09 17:59] ausi commented on #7988
I don’t think so. I would not expect such changes in a bugfix release.

[2018-08-10 07:07] leofeyer commented on #7988
Agreed.

[2018-08-13 15:08] Aybee commented on #4583
@akroii Du kannst ein Feld zum Dateimanager hinzufügen, mit welchem du dann ein Vorschaubild auswählst, welches du dann über dein Template ausgeben kannst.

[2018-08-21 16:14] leofeyer commented on #7629
Wie sieht es denn hiermit aus? 😄

[2018-08-21 16:16] #8872 closed, assigned to nobody

[2018-08-21 16:16] #8882 closed, assigned to nobody

[2018-08-21 16:17] #8595 closed

[2018-08-21 16:18] #8854 closed, assigned to nobody

[2018-08-21 17:12] may17 commented on #7629
Tjo... bin immer noch dafür 😆

[2018-08-21 18:14] leofeyer commented on #7629
Ich auch. Und ich fände es noch cooler, wenn wir die Demo mit Docker zusammen ausliefern könnten, so dass man sie lokal direkt testen kann.

[2018-08-21 19:44] sascha-mueller commented on #7629
Ich bin auch noch immer dafür.

[2018-08-22 07:22] aschempp commented on #7629
glaubst du ernsthaft jemand der die Demo nutzen will weiss wie Docker funktioniert? Wenn ich sehen will wie Contao funktioniert dann nehme ich demo.contao.org, nicht?

Ich bin nicht wirklich überzeugt ob das ins Install-Tool gehört. Wäre es nicht sinnvoller wir hätten eine "echte" Installationsroutine oder eine Möglichkeit das über Composer zu machen?

[2018-08-24 11:12] leofeyer commented on #7629
Die Idee im Verlaufe der Diskussion (siehe oben) war, einen separaten Download einer Installation mit Demo anzubieten. Im Installtool macht es keinen Sinn, da dieses ja weg soll.

[2018-08-28 14:12] Aybee commented on #7629
Eine Demo direkt über das Installtool, oder das BE installieren zu können finde ich sehr gut. So wäre man noch mehr motiviert auch mal eben neuere nicht LTS Versionen zu installieren und zu prüfen.

[2018-08-30 13:52] leofeyer commented on #8874
Since no-one can provide log files, I'm closing this ticket for now. Feel free to create a new ticket if you have the required log files.

[2018-09-03 10:48] leofeyer commented on #8883
Es kommt halt darauf an, wie man "letzte Änderung" definiert.

Nehmen wir als Beispiel einen Artikel in Contao: Wann war die letzte Änderung eines Artikels? Wenn etwas an den Metadaten geändert wurde oder wenn etwas am Inhalt geändert wurde?

Ich gebe Dir aber Recht, dass der Zeitstempel im Parent-View die letzte Änderung der Metadaten anzeigen sollte und nicht des Inhalts.

@contao/developers Seh

[2018-09-05 19:24] Mynyx commented on #8883
Um dies eindeutiger zu gestalten, könnte die Bezeichnung zu "Änderungsdatum Einstellungen" geändert werden.

[2018-09-07 11:19] leofeyer commented on #8889
Fixed in d11a21b15b71aa098a04023a2d987793e77a7768.

[2018-09-07 11:19] #8889 closed, assigned to leofeyer

[2018-09-07 11:26] leofeyer commented on #8868
Fixed in 148cfdecd7dad2961be160f61752ad4093231fc0.

[2018-09-07 11:26] #8868 closed, assigned to nobody

[2018-09-07 11:35] leofeyer commented on #8864
We need some more people to test this please. @frontendschlampe @may17 @fritzmg @cliffparnitzky @ausi @Pellinger @netzarbeiter /cc

[2018-09-07 12:29] fritzmg commented on #8864
In general this works. Here are two screenshots from Contao 4.5 from FireFox and IE 11 under Windows 10 x64:

![w50ff](https://user-images.githubusercontent.com/4970961/45219125-2cc39600-b2aa-11e8-95ee-eb1e226cd127.png)

![w50ie11](https://user-images.githubusercontent.com/4970961/45219105-1a495c80-b2aa-11e8-8889-214166ad6f92.png)

In this test I added the `w50` class to all the widgets within the

[2018-09-07 12:46] leofeyer commented on #8888
* PR für Contao 3.5: #8894
* PR für Contao 4.4: contao/contao#52
* PR für Contao 4.6: contao/contao#53

[2018-09-07 12:48] #8888 closed, assigned to leofeyer

[2018-09-07 14:17] may17 commented on #8864
min-height has full browser support see https://caniuse.com/#feat=minmaxwh

[2018-09-07 14:41] cliffparnitzky commented on #8864
I can confirm the test of @fritzmg : used Contao 4.4 in Chrome, Firefox and IE 11

[2018-09-10 15:03] leofeyer commented on #2769
Fixed in contao/core-bundle#1629.

[2018-09-10 15:03] #2769 closed

[2018-09-10 15:04] #7376 closed

[2018-09-10 15:06] leofeyer commented on #8614
What is the status of this ticket?

[2018-09-10 15:12] leofeyer commented on #8663
See contao/core-bundle#1548

[2018-09-10 15:12] #8663 closed

[2018-09-10 15:20] fritzmg commented on #8614
imho it can be closed. Hopefully all hosters have updated their outdated OpenSSL versions.

[2018-09-10 15:36] #8614 closed

[2018-09-17 13:28] leofeyer commented on #8864
Changed in contao/contao@a3f4e867aaa57e21927a45ba9b3846a6369c169f.

[2018-09-17 13:28] #8864 closed, assigned to leofeyer

[2018-09-17 13:53] leofeyer commented on #6830
Fixed in contao/contao@156f6287f8b90cc2c53066e2d721de4699ee226f.

[2018-09-17 13:53] #6830 closed

[2018-09-18 13:54] bibib commented on #8874
~~Ich hätte hier eine Contao 3.5.3x-Installation, bei der trotz eingebundener Sicherheitsfrage (contao-rocksolid-antispam) seit Wochen viele Spamanfragen reinkommen. Braucht ihr die Server-Logfiles, seh ich das richtig? Ich würde die dann jetzt aktivieren.~~

Sorry, Fehler meinerseits. Das ist die normale Sicherheitsfrage.

[2018-09-27 13:51] leofeyer commented on #244
As discussed in Mumble on September 27th, this does not make much sense to us.

[2018-09-27 13:51] #244 closed

[2018-09-27 14:15] leofeyer commented on #8812
As discussed in Mumble on September 27th, we have to check if there is a member with the same e-mail-address and check if they are disabled.

[2018-10-06 23:47] BugBuster1701 commented on #8893
in  PageModel.php on line 515, too.
But, I know, it's to late.  :smile:

[2018-10-18 13:30] leofeyer commented on #1924
Wie am 18. Oktober auf Mumble besprochen, wollen wir das Feature nicht in den Core übernehmen.

[2018-10-18 13:30] #1924 closed

[2018-10-18 14:13] leofeyer commented on #7688
Wie am 18. Oktober erneut auf Mumble besprochen, lässt sich das Problem doch nicht so einfach umsetzen wie anfangs gedacht. Am besten wäre es daher, wenn Du in so einem Fall einfach neue Tabs aufmachst.

[2018-10-18 14:13] #7688 closed

[2018-10-30 09:54] leofeyer commented on #8883
Behoben in contao/contao@48a1e8e250f6018cc7685a82e65de258c911aac2.

[2018-10-30 09:54] #8883 closed, assigned to leofeyer

[2018-10-30 15:08] leofeyer commented on #8812
Fixed in contao/contao@834e969c1922baa1241148e70b585bb25ea00a6f.

[2018-10-30 15:08] #8812 closed

[2018-11-09 14:04] kroerig opened #8895 "Backliste"
Unser Kunde möchte sich ggf. gegen unberechtigte Beschwerden wehren können (ich konstruier mal: ich melde mich ab, und beschwer mich direkt danach über den letzten erhaltenen Newsletter; es soll der Nachweis möglich sein, dass zum Zeitpunkt des Versandes der Newsletter abonniert war). Je nachdem, wen man fragt, ist das über ein "berechtigtes Interesse" für einen gewissen Zeitraum sauber...

Das an

[2018-11-10 06:59] fiedsch commented on #8895
Zusatzinfo: Ohne die E-Mail-Adresse im Klartext zu speichern, könnte man vorgehen wie bei der RTR ECG-Liste https://www.rtr.at/de/tk/TKKS_ECGListe. Hier wird nur der Hashwert der E-Mail-Adresse gespeichert und vor dem Versenden kann ich so für jede einzelne Adresse prüfen, ob sie in der Liste eingetragen ist.

[2018-11-13 11:00] gebi84 opened #8896 "custom filter " in like"
i added a custom filter which works so far, but the select is building a query with like %"var"%

for what are this '"'? without this my code works

https://github.com/contao/core/blob/3a0c44093ddd87c7f386d4e27bbc2efbb2e95d6b/system/modules/core/drivers/DC_Table.php#L5375

hery my issue:
i have a field date with values:
2016-10-11 13:29:29
2016-10-11 15:29:29

and now i want to filter by date "201

[2018-11-13 11:23] fritzmg commented on #8896
This is applied for fields where `'eval' => ['multiple' => true]`. In that case, the database contains a serialized representation of the data. Thus Contao querys for `%"…"%`.

[2018-11-13 14:36] frontendschlampe commented on #8874
@contao/developers what do you need to check the problem? Which information in access.log?

[2018-11-13 14:38] Toflar commented on #8874
I think for the honeypot it would be great to have the full POST request (headers, body, everything) so we can actually check if the bot really sends the correct data.

[2018-11-13 18:32] ausi commented on #8874
If you are using Contao 4.6, you can register a `prepareFormData` hook with a function like this:

[code]

After you received some spam, you can send me the */var/spam-log.txt* file via email.

[2018-11-15 16:08] leofeyer commented on #4828
Ich schließe dieses Ticket zu Gunsten von contao/core-bundle#1548.

[2018-11-15 16:08] #4828 closed

[2018-11-15 16:12] leofeyer commented on #2605
@ausi Sollen wir das dann wie oben beschrieben anpassen?

[2018-11-15 16:19] leofeyer commented on #8493
Geändert in contao/core-bundle#1640.

[2018-11-15 16:19] #8493 closed

[2018-11-15 18:14] ausi commented on #2605
Ja, ich denke das ist sinnvoll. Die Fehlermeldung sollte direkt über dem subscribe Formular angezeigt werden.

[2018-11-20 10:30] leofeyer commented on #6254
Implementiert in contao/contao@5402a0c384d30b44069bbf083d6505d7da0f7f1c.

[2018-11-20 10:30] #6254 closed

[2018-11-20 15:45] leofeyer commented on #3663
Mir ist gerade aufgefallen, dass das schon längst möglich ist. Man muss dazu in der Modulkonfiguration die Option "Benutzernamen nicht abfragen" auswählen und im Text der Bestätigungsmail das Simple-Token `##username##` verwenden.

<img width="492" alt="" src="https://user-images.githubusercontent.com/1192057/48784420-f612ee80-ece2-11e8-91fc-097a85474691.png">

<img width="653" alt="" src="https:/

[2018-11-20 15:45] #3663 closed

[2018-11-21 11:48] leofeyer commented on #8836
Fixed in contao/contao@01fdc4fcb73c92d05bc74d71bacde3b80de9474f.

[2018-11-21 11:48] #8836 closed

[2018-11-22 08:20] leofeyer commented on #8144
Added in contao/contao@bb2c8c90ee991062a8b7f20582ab1f9a735cb1c7.

[2018-11-22 08:20] #8144 closed

[2018-11-22 08:57] #8896 closed, assigned to nobody

[2018-11-22 15:07] leofeyer commented on #8895
Wie am 22. November auf Mumble besprochen, müssten wir eine solche Blacklist direkt in den Mailer einbauen (aktuell noch SwiftMailer, zukünftig Symfony Mail), damit systemweit der Mailversand an gelistete Adressen verhindert wird.

[2018-11-22 15:16] kroerig commented on #8895
Du redest im Konjunktiv...

[2018-11-22 15:18] m-vo commented on #8895
Was wäre denn wünschenswert gewesen?

[2018-11-22 17:10] ausi opened #8897 "💩"
⚠ THIS IS THE WRONG REPOSITORY!

Contao 3 does not receive bug fixes or new features anymore!

Please open an issue here instead: https://github.com/contao/contao

If you have found a security issue in Contao, please send the details to security [at] contao.org and do not disclose it publicly until we can provide a fix for it.

More information: https://contao.org/en/support.html#security

Thank y

[2018-11-22 17:10] ausi commented on #8897
Du schreibst im Konjunktiv...

[2018-11-22 17:12] ausi opened #8898 "🤪"
⚠ THIS IS THE WRONG REPOSITORY!

Contao 3 does not receive bug fixes or new features anymore!

Please open an issue here instead: https://github.com/contao/contao

If you have found a security issue in Contao, please send the details to security [at] contao.org and do not disclose it publicly until we can provide a fix for it.

More information: https://contao.org/en/support.html#security

Thank y

[2018-11-26 06:16] georgpreissl commented on #8821
Hier mein Vorschlag bezüglich dem Thema "Überarbeitung der Backend-Icons":
https://github.com/georgpreissl/facelift

[2018-12-17 14:36] jankout commented on #8484
Hello, I have a problem with the installation by 1und1, now called Ionos. When I use the database from 3.5.36 and let it upgrade with the install tool it appears following error message.

How can I solve it?

[2018-12-17 14:44] ausi commented on #8484
@jankout see contao/contao#238

[2018-12-17 14:47] jankout commented on #8484
@ausi thank you

[2018-12-26 09:48] Samson1964 commented on #8696
Ergänzend muß ich noch hinzufügen, das in meiner Funktion natürlich die Berücksichtigung der Elemente fehlt, die bereits ausgewählt wurden und nun altern. Ich habe das erst kürzlich in meine newslinklist-Erweiterung aufgenommen.

D.h. öffne ich ein Element vom Typ Inhaltselement, dürfen die bereits früher gewählten Einträge nicht verloren gehen. Deshalb muß beim Aufbau der SELECT-Liste der $dc->ac

[2019-02-05 21:32] k-webdesign commented on #8837
Hm... still can reproduce this with PHP 7.2 and Contao 3.5.38 🤷🏼‍♀️

[2019-02-12 22:31] ausi commented on #8874
~~Analyzing a log file I noticed that the spammer didn’t send the `captcha_X_name` field at all which probably is something we should check for.~~

**EDIT:** no it’s not :(

~~We could add `|| !isset($_POST[$this->strCaptchaKey.'_name'])` to https://github.com/contao/contao/blob/e79f4cb153e09f34c678e500b9031990b8bd81c5/core-bundle/src/Resources/contao/forms/FormCaptcha.php#L128~~

[2019-02-17 11:28] ausi commented on #8075
Pull request: contao/contao#340

[2019-02-17 16:29] leofeyer commented on #8075
Thank you @ausi.

[2019-02-17 16:29] #8075 closed

[2019-02-26 20:34] Aybee commented on #8484
Ich kann hier auch gerade install nicht aufrufen.

- Contao **4.4.35** Core only Installation
- **united-domains.de**
- MySQL **5.7.23**
- DB Kollation **utf8mb4_unicode_ci**
- Kollation der Tabellen **utf8mb4_unicode_ci**
- **MyISAM** Tabellen
- Fehler: `max key length is 1000 bytes`

[code]

[2019-02-26 20:35] Aybee commented on #8484
Ich habe den Fehler beheben können, indem ich die Kollation der DB und Tabellen auf **utf8_general_ci** eingestellt habe.

[2019-02-27 06:44] fritzmg commented on #8484
Nimm lieber `utf8_unicode_ci`.

Sollte dich das Install Tool nicht eigentlich darauf hinweisen, dass du entweder MyISAM oder `utf8` benutzen musst?

[2019-02-27 18:55] Aybee commented on #8484
Ich war so geschockt wegen des Fehlers, dass ich panisch auf Altbewertes zurückgegangen bin ;). Aber du hast Recht, hätte auch `utf8_unicode_ci` ausprobieren können. Danke für den Hinweis.

Verstehe ich nicht, ich habe doch jetzt MyISAM **und** utf8, wieso **oder**?

Nein, ein Hinweis war da nicht, ich habe beim Install den DB-Zugang eintragen müssen und dann kam obiger Fehler. Es war ein Update v

[2019-03-05 08:03] bezin commented on #1247
Hi @leofeyer

I am currently thinking about the topic of nested content elements and stumbled upon this issue. Can you explain, what you are exactly working (or where working on in March last year) and what the current status is?

[2019-03-29 11:15] thescrat opened #8899 "Mitgliederaktivierung nicht mehr möglich (Token leer)"
**Affected version(s)**
4.7.2

**Description**
Mitgliederregistrierung mit Aktivierung ist ab Contao 4.7 nicht mehr möglich, da in der Bestätigungsmail nur ein "token=" ankommt. In der Datenbank ist das Feld "activation" welches den Token speichert, leer!

Ich habe jetzt wieder die 4.6.14 eingespielt, damit läuft es!

[2019-03-29 13:34] #8899 closed, assigned to nobody

[2019-03-29 15:53] baumannsven commented on #8899
@thescrat Warum hast du das geschlossen? Geht es doch? Wenn ja wäre nett wenn du das hier kommentierst.

[2019-03-29 15:56] xchs commented on #8899
@baumannsven Falsches Repository.

[2019-04-04 20:35] xchs commented on #1414
@bezin It would be great if you could work on that. :blush:
Then, I would implement this one: https://github.com/contao/contao/pull/371#issuecomment-479833074

[2019-04-22 10:09] kroerig opened #8900 "ce_player: Lautstärke vorgeben und Anzeige der Laufzeit"
Hallo,

ich fände es schön, wenn man im Backend beim ce_player zusätzlich zu den Start/ Stoppstellen auch die initiale Lautstärke angeben könnte.
Aktuell starten alle Medienelemente immer auf 100% und der Zuhörer muss (je nach Inhalt) erst mal schnell den Regel runter drehen um aus dem Stuhl geblasen zu werden.

Und dann wäre es sehr schön, wenn auch bei der Wiedergabe eines Audiofiles bereits vor

[2019-04-22 15:59] #8900 closed, assigned to nobody

[2019-04-23 06:36] ausi commented on #8900
Duplicate of contao/contao#444

[2019-05-10 17:52] Friedrich2 opened #8901 "Missing line breaks in Newsletter e-mails."
**Affected version(s)**
3.5.19, occurs probably in newer and older versions too.

**Description**
Newsletters sent with Contao Newsletter do not have proper newlines. To give an exemplary excerpt of a manually obfuscated newsletter's source code:
[code]

As you can see, line breaks / newlines / paragraph endings (I do not know which types Contao does know and support) are marked with line newlines

[2019-05-10 23:40] asaage commented on #8901
You should be able to send newsletter as ```text/plain``` or ```multipart/alternative``` content even in 3.5.19 (which you should probably update).
The latter one basically delivers the message in text and html format (__HTML content__ & __Text content__ should both not be empty and the checkbox __Send as plain text__ unchecked)
I never experienced any problems with linebreaks.
For the text-part s

[2019-05-11 04:13] fiedsch commented on #8901
I'd say it is there because the text is "quoted printable" (see the example in https://de.wikipedia.org/wiki/Quoted-Printable-Kodierung)

[2019-05-13 16:53] bwl21 opened #8902 "Internal server error when inserting an element"
**Affected version(s)**

4.6.5 running in a docker container from https://github.com/ctsmedia/docker-contao

**Description**
[code]
**How to reproduce**

* run the contao demo as in  https://github.com/ctsmedia/docker-contao
* try to insert an element in an article

I am not sure if i is a matter of the dockerization or of contao.
@ctsmedia @DanielSchwiperich could you have a look in to this?

[2019-05-13 18:12] gmpf commented on #8902
It's a `docker-contao` issue. There is no SQL file for Contao 4.6: https://github.com/ctsmedia/docker-contao/tree/d1624e1b56ed1de88cec0deef878359771e0604e/demo
If you install a version above 4.5, the install script uses the 4.5 data:
https://github.com/ctsmedia/docker-contao/blob/d1624e1b56ed1de88cec0deef878359771e0604e/script/install-demo.php#L16-L18

The field `playerAspect` that the error refer

[2019-05-13 19:09] #8902 closed, assigned to nobody

[2019-05-21 15:19] #8901 closed, assigned to nobody

[2019-06-04 09:48] #8861 closed, assigned to nobody

[2019-07-04 13:52] leofeyer commented on #8571
Wie am 4. Juli auf Mumble besprochen, sind Inline-SVGs potentiell unsicher und wir wollen sie standardmäßig nicht freischalten.

[2019-07-04 13:52] #8571 closed

[2019-07-04 13:58] Olli commented on #8571
Ok Sicherheit ist wichtig.
Wäre dann aber nicht eine "Hakenfunktion" interssant die in der Standardinstall nicht angehakt ist?
Hakt man die an, sind die SVG Tags freigeschaltet. Das macht die Sache recht übersichtlich und manageable für den Admin.

[2019-09-04 15:05] BennyK80 opened #8903 "Feature: Optionale Möglichkeit zur Auswahl der Inhaltselemente per Icon"
Hallo zusammen,

ein Feature, welches eine leichtere und schnellere Auswahlmöglichkeit eines Inhaltselementes ermöglichen würde, wäre eine optionale Darstellung mit Icons.

Einige meiner Kunden sind überfordert mit den Begriffen im Select-Menü und der Verwendeung des Select-Menüs selbst. Es ist nicht immer ganz klar, dass dort etwas ausgewählt werden kann.
(Für mich schon, für den Kunden nicht imm

[2019-09-04 15:14] fritzmg commented on #8903
@BennyK80 du bist hier im alten Repository für Contao 2/3. Für Contao 4 bitte das Mono Repository [contao/contao](https://github.com/contao/contao) verwenden.

[2019-09-04 15:17] BennyK80 commented on #8903
@fritzmg Danke für den Hinweis!

[2019-09-04 15:17] #8903 closed, assigned to nobody

[2019-09-05 09:10] aschempp commented on #8903
@fritzmg nur damit es erwähnt ist, bei GitHub lassen sich Issues mittlerweile zwischen Repositories verschieben, "im falschen Repo" ist nicht mehr so schlimm 😉

[2019-09-05 09:14] fritzmg commented on #8903
Ja, ich schreibe das nur zur "Schulung" ;)

[2021-06-18 08:19] leofeyer commented on #6582
See https://github.com/contao/contao/pull/161

[2021-06-18 08:19] #6582 closed

[2021-08-26 10:29] leofeyer commented on #8564
Closing this in favor of https://github.com/contao/contao/issues/3386.

[2021-12-09 15:59] #1107 closed

[2021-12-09 16:01] leofeyer commented on #1152
Custom regular expressions have been added in Contao 4.11 (see https://docs.contao.org/dev/reference/dca/fields/#regular-expressions).

[2021-12-09 16:01] #1152 closed

[2021-12-09 16:02] #1166 closed

[2021-12-09 16:02] leofeyer commented on #1414
See contao/contao#1465

[2021-12-09 16:02] #1414 closed

[2021-12-09 16:03] leofeyer commented on #1460
Das Feature wurde mittlerweile implementiert.

[2021-12-09 16:03] #1460 closed

[2021-12-09 16:04] #1576 closed

[2021-12-09 16:05] leofeyer commented on #1725
Das Feature wurde mittlerweile implementiert (siehe https://docs.contao.org/manual/de/administrationsbereich/datensaetze-bearbeiten/).

[2021-12-09 16:05] #1725 closed

[2021-12-09 16:10] #2227 closed

[2021-12-09 16:12] leofeyer commented on #2374
This has been implemented meanwhile.

[2021-12-09 16:12] #2374 closed

[2021-12-09 16:12] leofeyer commented on #2376
See contao/contao#228

[2021-12-09 16:12] #2376 closed

[2021-12-09 16:17] leofeyer commented on #2937
Das Feature wurde mittlerweile implementiert.

[2021-12-09 16:17] #2937 closed

[2021-12-09 16:18] leofeyer commented on #3002
Custom regular expressions have been added in Contao 4.11 (see https://docs.contao.org/dev/reference/dca/fields/#regular-expressions).

[2021-12-09 16:18] #3002 closed

[2021-12-09 16:19] leofeyer commented on #3162
Contao 4 uses the KnpMenuBundle now, so I guess this ticket can be closed.

[2021-12-09 16:23] leofeyer commented on #4053
In Contao 4.9 ist das Feature jetzt aber definitiv implementiert worden. 😄

[2021-12-09 16:23] #4053 closed

[2021-12-09 16:24] leofeyer commented on #4132
See contao/contao#3660

[2021-12-09 16:24] #4132 closed

[2021-12-09 16:26] #4704 closed

[2021-12-09 16:29] leofeyer commented on #5486
Finally fixed in contao/contao#3734.

[2021-12-09 16:29] #5486 closed

[2021-12-09 16:30] #5544 closed

[2021-12-09 16:31] leofeyer commented on #5544
This has been implemented meanwhile.

[2021-12-09 16:32] leofeyer commented on #5766
Will be implemented in Contao 4.13 (see contao/contao#3727).

[2021-12-09 16:32] #5766 closed

[2021-12-09 16:33] leofeyer commented on #5975
Since the internal CSS editor has been deprecated in Contao 4 and will be removed in Contao 5, I guess we can close this issue now. 🙈

[2021-12-09 16:33] #5975 closed

[2021-12-09 16:35] leofeyer commented on #6072
This has been implemented meanwhile.

[2021-12-09 16:36] leofeyer commented on #6087
This has been added in Contao 4.10 (see contao/contao#1465).

[2021-12-09 16:36] #6087 closed

[2021-12-09 16:37] leofeyer commented on #6089
The cron service in Contao 4 allows for this (see contao/contao#1098), therefore I am closing this issue.

[2021-12-09 16:37] #6089 closed

[2021-12-09 16:40] leofeyer commented on #6108
Contao 4 allows to define custom sanitizer rules now, therefore I am closing the ticket.

<img width="755" alt="" src="https://user-images.githubusercontent.com/1192057/145438197-043cfb3a-7904-4dba-926f-b149ae1c3378.png">

[2021-12-09 16:40] #6108 closed

[2021-12-09 16:42] leofeyer commented on #6259
The automatic classes `first`, `last`, `even` and `odd` will be dropped in Contao 5 in favor of the corresponding CSS selectors, therefore I am closing this ticket.

[2021-12-09 16:42] #6259 closed

[2021-12-09 16:46] leofeyer commented on #6853
Da der interne CSS-Editor in Contao 4 als veraltet markiert wurde und in Contao 5 entfernt wird, schließe ich dieses Ticket.

[2021-12-09 16:46] #6853 closed

[2021-12-09 16:47] fritzmg commented on #3162
Only for the back end, not for the front end. This would still be a cool feature to have for the front end navigation module.

[2021-12-09 16:48] #7445 closed

[2021-12-09 16:51] leofeyer commented on #7663
Wurde inzwischen implementiert.

[2021-12-09 16:51] #7663 closed

[2021-12-09 16:52] leofeyer commented on #7722
Since the support for `files/tiny_templates` has been dropped meanwhile, I am closing this issue.

[2021-12-09 16:52] #7722 closed

[2021-12-09 16:53] leofeyer commented on #7810
Since we are using TinyMCE 5 (and Contao 4) meanwhile, I am closing this issue.

[2021-12-09 16:53] #7810 closed

[2021-12-09 16:54] leofeyer commented on #7830
Das wurde inzwischen implementiert.

[2021-12-09 16:54] #7830 closed

[2021-12-09 17:00] leofeyer commented on #8362
Since there has been no use case in the last 5 years, I am closing the ticket.

[2021-12-09 17:01] leofeyer commented on #8380
Deferred image resizing has been added in Contao 4.9.

[2021-12-09 17:01] #8380 closed

[2021-12-09 17:02] leofeyer commented on #8413
This has been implemented in Contao 4.9.

[2021-12-09 17:02] #8413 closed

[2021-12-10 09:50] leofeyer commented on #2907
See contao/contao#3793. Thanks to Symfony, this could be implemented very easily now.

[2021-12-10 09:50] #2907 closed

[2021-12-10 10:41] leofeyer commented on #4603
See contao/contao#3794

[2021-12-10 10:41] #4603 closed

[2022-01-20 10:11] ausi commented on #4868
This has been implemented in Contao 4.13. See https://github.com/contao/contao/pull/3419

[2022-01-20 10:11] #4868 closed

[2022-10-17 15:35] #874 closed

[2022-10-17 15:42] leofeyer commented on #2565
This has been implemented meanwhile.

[2022-10-17 15:42] #2565 closed

[2022-10-17 15:43] leofeyer commented on #2605
This has been fixed meanwhile.

[2022-10-17 15:43] #2605 closed

[2022-10-17 15:48] leofeyer commented on #3183
See https://github.com/contao/contao/issues/4561

[2022-10-17 15:48] #3183 closed

[2022-10-17 15:49] leofeyer commented on #3664
You can use https://github.com/terminal42/contao-notification_center for this.

[2022-10-17 15:49] #3664 closed

[2022-10-17 16:07] #6847 closed

[2022-10-17 16:08] #7179 closed

[2022-10-17 16:18] leofeyer commented on #8089
This has been implemented meanwhile.

[2022-10-17 16:18] #8089 closed